.actionableInlineBanner__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--seed-v3-unit-1);
    padding-inline-end: var(--seed-v3-unit-1)
}
.actionableInlineBanner__chevronRightIcon {
    flex: none;
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
    margin: var(--seed-v3-unit-3)
}
.actionableInlineBanner__chevronRightIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.actionableInlineBanner__chevronRightIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.actionableInlineBanner__chevronRightIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.actionableInlineBanner__chevronRightIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.actionableInlineBanner__chevronRightIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.actionableInlineBanner__chevronRightIcon--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.actionableInlineBanner__chevronRightIcon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white)
}