.actionChip__root {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    text-transform: none;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
    font-family: inherit;
    border-radius: var(--seed-radius-full);
}
.actionChip__root:is(:focus, [data-focus]) {
    outline: none;
}
.actionChip__root {
    background: var(--seed-color-bg-neutral-weak);
}
.actionChip__root:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.actionChip__root:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    cursor: not-allowed;
}
.actionChip__label {
    line-height: 1;
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-medium);
}
.actionChip__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.actionChip__prefixIcon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral);
}
.actionChip__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.actionChip__suffixIcon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-subtle);
}
.actionChip__suffixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.actionChip__icon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral);
}
.actionChip__icon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.actionChip__count {
    line-height: 1;
    color: var(--seed-color-fg-neutral-muted);
    font-weight: var(--seed-font-weight-medium);
}
.actionChip__root--size_medium {
    min-height: var(--seed-dimension-x9);
    padding-block: var(--seed-dimension-x2);
    gap: var(--seed-dimension-x1);
}
.actionChip__label--size_medium {
    font-size: var(--seed-font-size-t4);
}
.actionChip__prefixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.actionChip__suffixIcon--size_medium {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.actionChip__count--size_medium {
    font-size: var(--seed-font-size-t4);
}
.actionChip__root--size_small {
    min-height: var(--seed-dimension-x8);
    padding-block: var(--seed-dimension-x1_5);
    gap: var(--seed-dimension-x1);
}
.actionChip__label--size_small {
    font-size: var(--seed-font-size-t4);
}
.actionChip__prefixIcon--size_small {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.actionChip__suffixIcon--size_small {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.actionChip__count--size_small {
    font-size: var(--seed-font-size-t4);
}
.actionChip__root--size_medium-layout_withText {
    padding-inline: var(--seed-dimension-x3_5);
}
.actionChip__root--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
}
.actionChip__icon--size_medium-layout_iconOnly {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.actionChip__root--size_small-layout_withText {
    padding-inline: var(--seed-dimension-x3);
}
.actionChip__root--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
}
.actionChip__icon--size_small-layout_iconOnly {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}