.actionButton__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}
.actionButton__root:is(:focus, [data-focus]) {
    outline: none;
}
.actionButton__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.actionButton__root {
    font-weight: var(--seed-v3-font-weight-bold);
}
.actionButton__prefixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.actionButton__suffixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.actionButton__root--variant_brandSolid {
    background: var(--seed-v3-color-bg-brand-solid);
}
.actionButton__root--variant_brandSolid:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-brand-solid-pressed);
}
.actionButton__root--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.actionButton__label--variant_brandSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__label--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_brandSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__icon--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_brandSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__prefixIcon--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_brandSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__suffixIcon--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--variant_neutralSolid {
    background: var(--seed-v3-color-bg-neutral-solid);
}
.actionButton__root--variant_neutralSolid:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-solid-pressed);
}
.actionButton__root--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.actionButton__label--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.actionButton__label--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.actionButton__icon--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.actionButton__prefixIcon--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.actionButton__suffixIcon--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--variant_neutralWeak {
    background: var(--seed-v3-color-bg-neutral-weak);
}
.actionButton__root--variant_neutralWeak:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.actionButton__root--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.actionButton__label--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__label--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__icon--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__prefixIcon--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__suffixIcon--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--variant_dangerSolid {
    background: var(--seed-v3-color-bg-danger-solid);
}
.actionButton__root--variant_dangerSolid:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-danger-solid-pressed);
}
.actionButton__root--variant_dangerSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.actionButton__label--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__label--variant_dangerSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__icon--variant_dangerSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__prefixIcon--variant_dangerSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.actionButton__suffixIcon--variant_dangerSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--variant_brandOutline {
    border-style: solid;
    background: var(--seed-v3-color-bg-layer-default);
    border-width: 1px;
    border-color: var(--seed-v3-color-stroke-neutral);
}
.actionButton__root--variant_brandOutline:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-layer-default-pressed);
}
.actionButton__root--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-layer-default);
    border-color: var(--seed-v3-color-stroke-neutral);
}
.actionButton__label--variant_brandOutline {
    color: var(--seed-v3-color-fg-brand);
}
.actionButton__label--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_brandOutline {
    color: var(--seed-v3-color-fg-brand);
}
.actionButton__icon--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_brandOutline {
    color: var(--seed-v3-color-fg-brand);
}
.actionButton__prefixIcon--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_brandOutline {
    color: var(--seed-v3-color-fg-brand);
}
.actionButton__suffixIcon--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--variant_neutralOutline {
    border-style: solid;
    background: var(--seed-v3-color-bg-layer-default);
    border-width: 1px;
    border-color: var(--seed-v3-color-stroke-neutral);
}
.actionButton__root--variant_neutralOutline:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-layer-default-pressed);
}
.actionButton__root--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-layer-default);
    border-color: var(--seed-v3-color-stroke-neutral);
}
.actionButton__label--variant_neutralOutline {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__label--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__icon--variant_neutralOutline {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__icon--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__prefixIcon--variant_neutralOutline {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__prefixIcon--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__suffixIcon--variant_neutralOutline {
    color: var(--seed-v3-color-fg-neutral);
}
.actionButton__suffixIcon--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.actionButton__root--size_xsmall {
    height: var(--seed-v3-unit-s8);
    border-radius: var(--seed-v3-radius-full);
}
.actionButton__root--size_small {
    height: var(--seed-v3-unit-s9);
    border-radius: var(--seed-v3-radius-s2);
}
.actionButton__root--size_medium {
    height: var(--seed-v3-unit-s10);
    border-radius: var(--seed-v3-radius-s2);
}
.actionButton__root--size_large {
    height: var(--seed-v3-unit-s13);
    border-radius: var(--seed-v3-radius-s3);
}
.actionButton__root--size_xsmall-layout_withText {
    gap: var(--seed-v3-unit-s1);
    padding-inline: var(--seed-v3-unit-s3_5);
    padding-block: var(--seed-v3-unit-s1_5);
}
.actionButton__label--size_xsmall-layout_withText {
    font-size: var(--seed-v3-font-size-s4);
}
.actionButton__prefixIcon--size_xsmall-layout_withText {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.actionButton__suffixIcon--size_xsmall-layout_withText {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.actionButton__root--size_xsmall-layout_iconOnly {
    min-width: var(--seed-v3-unit-s8);
    padding-inline: var(--seed-v3-unit-s1_5);
    padding-block: var(--seed-v3-unit-s1_5);
}
.actionButton__icon--size_xsmall-layout_iconOnly {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.actionButton__root--size_small-layout_withText {
    gap: var(--seed-v3-unit-s1);
    padding-inline: var(--seed-v3-unit-s3_5);
    padding-block: var(--seed-v3-unit-s2);
}
.actionButton__label--size_small-layout_withText {
    font-size: var(--seed-v3-font-size-s4);
}
.actionButton__prefixIcon--size_small-layout_withText {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.actionButton__suffixIcon--size_small-layout_withText {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.actionButton__root--size_small-layout_iconOnly {
    min-width: var(--seed-v3-unit-s9);
    padding-inline: var(--seed-v3-unit-s2);
    padding-block: var(--seed-v3-unit-s2);
}
.actionButton__icon--size_small-layout_iconOnly {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.actionButton__root--size_medium-layout_withText {
    gap: var(--seed-v3-unit-s1);
    padding-inline: var(--seed-v3-unit-s4);
    padding-block: var(--seed-v3-unit-s2_5);
}
.actionButton__label--size_medium-layout_withText {
    font-size: var(--seed-v3-font-size-s4);
}
.actionButton__prefixIcon--size_medium-layout_withText {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.actionButton__suffixIcon--size_medium-layout_withText {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.actionButton__root--size_medium-layout_iconOnly {
    min-width: var(--seed-v3-unit-s10);
    padding-inline: var(--seed-v3-unit-s2_5);
    padding-block: var(--seed-v3-unit-s2_5);
}
.actionButton__icon--size_medium-layout_iconOnly {
    width: 18px;
    height: 18px;
}
.actionButton__root--size_large-layout_withText {
    gap: var(--seed-v3-unit-s2);
    padding-inline: var(--seed-v3-unit-s5);
    padding-block: var(--seed-v3-unit-s3_5);
}
.actionButton__label--size_large-layout_withText {
    font-size: var(--seed-v3-font-size-s6);
}
.actionButton__prefixIcon--size_large-layout_withText {
    width: 22px;
    height: 22px;
}
.actionButton__suffixIcon--size_large-layout_withText {
    width: 22px;
    height: 22px;
}
.actionButton__root--size_large-layout_iconOnly {
    min-width: var(--seed-v3-unit-s13);
    padding-inline: var(--seed-v3-unit-s3_5);
    padding-block: var(--seed-v3-unit-s3_5);
}
.actionButton__icon--size_large-layout_iconOnly {
    width: 22px;
    height: 22px;
}