.actionableCallout__root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-inline-start: var(--seed-v3-unit-3\.5);
    padding-inline-end: var(--seed-v3-unit-0\.5);
    padding-block: 5px;
    border-radius: var(--seed-v3-radii-2\.5);
    cursor: pointer;
    border: none;
    font: inherit;
}
.actionableCallout__content {
    display: flex;
    align-items: center;
    gap: var(--seed-v3-unit-3);
    padding-block: 9.5px;
    font-size: var(--seed-v3-font-size-100);
    line-height: 1.3125rem;
    text-align: start;
}
.actionableCallout__title {
    font-weight: var(--seed-v3-font-weight-bold);
}
.actionableCallout__spacer {
    letter-spacing: 0.25em;
}
.actionableCallout__label {
    font-weight: var(--seed-v3-font-weight-regular);
}
.actionableCallout__chevronRightIcon {
    flex: none;
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
    margin: var(--seed-v3-unit-3);
}
.actionableCallout__root--variant_neutral {
    background-color: var(--seed-v3-color-bg-neutral-weak);
}
.actionableCallout__root--variant_neutral:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.actionableCallout__title--variant_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.actionableCallout__label--variant_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.actionableCallout__chevronRightIcon--variant_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.actionableCallout__root--variant_informative {
    background-color: var(--seed-v3-color-bg-informative-weak);
}
.actionableCallout__root--variant_informative:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-informative-weak-pressed);
}
.actionableCallout__title--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.actionableCallout__label--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.actionableCallout__chevronRightIcon--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.actionableCallout__root--variant_warning {
    background-color: var(--seed-v3-color-bg-warning-weak);
}
.actionableCallout__root--variant_warning:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-warning-weak-pressed);
}
.actionableCallout__title--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.actionableCallout__label--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.actionableCallout__chevronRightIcon--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.actionableCallout__root--variant_danger {
    background-color: var(--seed-v3-color-bg-danger-weak);
}
.actionableCallout__root--variant_danger:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-danger-weak-pressed);
}
.actionableCallout__title--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.actionableCallout__label--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.actionableCallout__chevronRightIcon--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.actionableCallout__root--variant_magic {
    background-color: var(--seed-v3-color-bg-magic-weak);
}
.actionableCallout__root--variant_magic:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-magic-weak-pressed);
}
.actionableCallout__title--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.actionableCallout__label--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.actionableCallout__chevronRightIcon--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}