.actionSheet__backdrop {
    position: fixed;
    inset: 0;
    background: var(--seed-v3-color-bg-overlay);
}
.actionSheet__backdrop:is([data-transition-state='exit-active'],[data-transition-state='exit-done']) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-s2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.actionSheet__backdrop:is([data-transition-state='enter-active'],[data-transition-state='enter-done']) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter);
    animation-duration: var(--seed-v3-duration-s2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.actionSheet__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    inset: 0;
}
.actionSheet__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    background: var(--seed-v3-color-bg-layer-floating);
    padding-inline: var(--seed-v3-horizontal-spacing-global-gutter);
    padding-block: var(--seed-v3-unit-s4);
    border-top-left-radius: var(--seed-v3-radius-s6);
    border-top-right-radius: var(--seed-v3-radius-s6);
}
.actionSheet__content:is([data-transition-state='exit-active'],[data-transition-state='exit-done']) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-s4);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 100%;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.actionSheet__content:is([data-transition-state='enter-active'],[data-transition-state='enter-done']) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter-expressive);
    animation-duration: var(--seed-v3-duration-s6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 100%;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.actionSheet__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--seed-v3-unit-s2_5);
}
.actionSheet__group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    border-radius: var(--seed-v3-radius-s4);
}
.actionSheet__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: var(--seed-v3-unit-s2_5);
}