.appBar__root {
    z-index: var(--z-index-app-bar);
    position: absolute;
    box-sizing: content-box;
    width: 100%;
}
.appBar__root[data-transition-state=exit-active] {
    transform: translate3d(100%, 0, 0);
}
.appBar__safeArea {
    height: max(0px, env(safe-area-inset-top));
}
.appBar__container {
    display: flex;
    align-items: flex-end;
}
.appBar__left {
    display: flex;
    align-items: center;
    height: 100%;
}
.appBar__right {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
}
.appBar__iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.appBar__icon {
    display: inline-block;
    flex-shrink: 0;
}
.appBar__title {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}
.appBar__titleMain {}
.appBar__titleEdge {
    appearance: none;
    border: 0;
    padding: 0;
    background: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;
    height: 20px;
    transform: translate(-50%);
    max-width: 5rem;
    display: none;
}
.appBar__titleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.appBar__container--theme_cupertino {
    height: 44px;
    padding-inline: var(--seed-v3-unit-s4);
}
[data-stackflow-activity-is-active="false"] .appBar__container--theme_cupertino {
    opacity: calc(pow(var(--stackflow-swipe-back-displacement-ratio, 1), 2));
}
[data-stackflow-activity-is-active="true"] .appBar__container--theme_cupertino {
    opacity: calc(1 - pow(var(--stackflow-swipe-back-displacement-ratio, 0), 2));
}
.appBar__iconButton--theme_cupertino {
    width: 40px;
    height: 40px;
}
.appBar__iconButton--theme_cupertino:first-child {
    margin-left: calc(-1 * (40px - 24px) / 2);
}
.appBar__iconButton--theme_cupertino:last-child {
    margin-right: calc(-1 * (40px - 24px) / 2);
}
.appBar__icon--theme_cupertino {
    width: 24px;
    height: 24px;
}
.appBar__titleMain--theme_cupertino {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--title-width, 100%);
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    top: max(0px, env(safe-area-inset-top));
}
.appBar__titleText--theme_cupertino {
    font-size: var(--seed-v3-font-size-s6-static);
    font-weight: var(--seed-v3-font-weight-bold);
}
.appBar__titleEdge--theme_cupertino {
    display: block;
}
.appBar__root--theme_android {
    opacity: 0;
    transform: translate3d(0, 160px, 0);
    transition: transform 300ms;
}
.appBar__root--theme_android:is([data-transition-state=enter-active], [data-transition-state=enter-done]) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.appBar__container--theme_android {
    height: 56px;
    padding-inline: var(--seed-v3-unit-s4);
}
.appBar__iconButton--theme_android {
    width: 40px;
    height: 40px;
}
.appBar__iconButton--theme_android:first-child {
    margin-left: calc(-1 * (40px - 24px) / 2);
}
.appBar__iconButton--theme_android:last-child {
    margin-right: calc(-1 * (40px - 24px) / 2);
}
.appBar__icon--theme_android {
    width: 24px;
    height: 24px;
}
.appBar__titleMain--theme_android {
    width: 100%;
    justify-content: flex-start;
    padding-left: 16px;
    box-sizing: border-box;
}
.appBar__titleText--theme_android {
    font-size: var(--seed-v3-font-size-s6-static);
    font-weight: var(--seed-v3-font-weight-bold);
}
.appBar__root--tone_layer {
    background-color: var(--seed-v3-color-bg-layer-default);
}
.appBar__icon--tone_layer {
    color: var(--seed-v3-color-fg-neutral);
}
.appBar__titleMain--tone_layer {
    color: var(--seed-v3-color-fg-neutral);
}
.appBar__root--tone_transparent {
    background-color: #00000000;
}
.appBar__icon--tone_transparent {
    color: var(--seed-v3-color-fg-static-white);
}
.appBar__titleMain--tone_transparent {
    color: var(--seed-v3-color-fg-static-white);
}
.appBar__root--border_true {
    box-shadow: inset 0px calc(-1 * 1px) 0 var(--seed-v3-color-stroke-neutral-muted);
}