.appBar__root {
    z-index: var(--z-index-app-bar);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.appBar__root:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}
.appBar__left {
    display: flex;
    align-items: center;
    height: 100%;
}
.appBar__right {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
}
.appBar__iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.appBar__icon {
    display: inline-block;
    flex-shrink: 0;
}
.appBar__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
}
.appBar__titleMain {
    display: flex;
    align-items: center;
}
.appBar__titleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.appBar__subtitleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
[data-global-transition-state=enter-active] .appBar__root--theme_cupertino[data-activity-is-top]:before {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 100%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
}
[data-global-transition-state=exit-active] .appBar__root--theme_cupertino[data-activity-is-top]:before {
    transform: translate3d(var(--swipe-back-displacement, 0), 0, 0);
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 100%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
[data-global-transition-state=enter-done] .appBar__root--theme_cupertino[data-activity-is-top]:before {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: var(--swipe-back-displacement, 0);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
}
.appBar__root--theme_cupertino {
    height: 44px;
    padding-inline: var(--seed-v3-dimension-s4);
}
.appBar__iconButton--theme_cupertino {
    width: 40px;
    height: 40px;
}
.appBar__iconButton--theme_cupertino:first-child {
    margin-left: calc(-1 * (40px - 24px) / 2);
}
.appBar__iconButton--theme_cupertino:last-child {
    margin-right: calc(-1 * (40px - 24px) / 2);
}
.appBar__icon--theme_cupertino {
    width: 24px;
    height: 24px;
}
[data-global-transition-state=enter-active] .appBar__icon--theme_cupertino[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    opacity: 1;
}
[data-global-transition-state=exit-active] .appBar__icon--theme_cupertino[data-activity-is-top] {
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-global-transition-state=enter-done] .appBar__icon--theme_cupertino[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    opacity: 1;
}
[data-swipe-back-state=swiping] .appBar__icon--theme_cupertino[data-activity-is-top]:not(#\#) {
    animation: none;
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
}
[data-global-transition-state=enter-active][data-top-activity-type="full-screen"] .appBar__icon--theme_cupertino:not([data-activity-is-top]) {
    opacity: 1;
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-global-transition-state=exit-active][data-top-activity-type="full-screen"] .appBar__icon--theme_cupertino:not([data-activity-is-top]) {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    opacity: 1;
}
[data-global-transition-state=enter-done][data-top-activity-type="full-screen"] .appBar__icon--theme_cupertino:not([data-activity-is-top]) {
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-swipe-back-state=swiping] .appBar__icon--theme_cupertino:not([data-activity-is-top]):not(#\#) {
    animation: none;
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
}
.appBar__title--theme_cupertino {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    left: 0;
    right: 0;
    padding-inline: calc(50% - var(--centered-title-max-width, 100%) / 2);
    pointer-events: none;
}
[data-global-transition-state=enter-active] .appBar__title--theme_cupertino[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 25%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
[data-global-transition-state=exit-active] .appBar__title--theme_cupertino[data-activity-is-top] {
    transform: translate3d(var(--swipe-back-displacement, 0) * 0.25, 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-global-transition-state=enter-done] .appBar__title--theme_cupertino[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: var(--swipe-back-displacement, 0) * 0.25;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
[data-swipe-back-state=swiping] .appBar__title--theme_cupertino[data-activity-is-top]:not(#\#) {
    animation: none;
    transform: translate3d(var(--swipe-back-displacement, 0) * 0.25, 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
}
[data-global-transition-state=enter-active][data-top-activity-type="full-screen"] .appBar__title--theme_cupertino:not([data-activity-is-top]) {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: -25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-global-transition-state=exit-active][data-top-activity-type="full-screen"] .appBar__title--theme_cupertino:not([data-activity-is-top]) {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: calc(-25% + var(--swipe-back-displacement, 0) * 0.25);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
[data-global-transition-state=enter-done][data-top-activity-type="full-screen"] .appBar__title--theme_cupertino:not([data-activity-is-top]) {
    transform: translate3d(calc(-25% + var(--swipe-back-displacement, 0) * 0.25), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: -25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-swipe-back-state=swiping] .appBar__title--theme_cupertino:not([data-activity-is-top]):not(#\#) {
    animation: none;
    transform: translate3d(calc(-25% + var(--swipe-back-displacement, 0) * 0.25), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
}
.appBar__titleText--theme_cupertino {
    font-size: var(--seed-v3-font-size-s6-static);
    font-weight: var(--seed-v3-font-weight-bold);
}
.appBar__root--theme_android {
    height: 56px;
    padding-inline: var(--seed-v3-dimension-s4);
}
[data-global-transition-state=enter-active] .appBar__root--theme_android[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.23, 0.1, 0.32, 1);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 8vh;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
[data-global-transition-state=exit-active] .appBar__root--theme_android[data-activity-is-top] {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation: seed-exit;
    animation-timing-function: linear;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 8vh;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.appBar__iconButton--theme_android {
    width: 40px;
    height: 40px;
}
.appBar__iconButton--theme_android:first-child {
    margin-left: calc(-1 * (40px - 24px) / 2);
}
.appBar__iconButton--theme_android:last-child {
    margin-right: calc(-1 * (40px - 24px) / 2);
}
.appBar__icon--theme_android {
    width: 24px;
    height: 24px;
}
.appBar__left--theme_android {
    padding-right: 16px;
}
.appBar__title--theme_android {
    width: 100%;
}
.appBar__titleText--theme_android {
    font-size: var(--seed-v3-font-size-s6-static);
    font-weight: var(--seed-v3-font-weight-bold);
}
.appBar__root--tone_layer:before {
    background-color: var(--seed-v3-color-bg-layer-default);
}
.appBar__icon--tone_layer {
    color: var(--seed-v3-color-fg-neutral);
}
.appBar__titleText--tone_layer {
    color: var(--seed-v3-color-fg-neutral);
}
.appBar__root--tone_transparent:before {
    background-color: #00000000;
}
.appBar__icon--tone_transparent {
    color: var(--seed-v3-color-palette-static-white);
}
.appBar__titleMain--tone_transparent {
    color: var(--seed-v3-color-palette-static-white);
}
.appBar__root--divider_true {
    box-shadow: inset 0px calc(-1 * 1px) 0 var(--seed-v3-color-stroke-neutral-muted);
}