.appScreen__root {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
.appScreen__dim {
    z-index: var(--z-index-dim);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
}
.appScreen__layer {
    z-index: var(--z-index-layer);
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.appScreen__layer::-webkit-scrollbar {
    display: none;
}
.appScreen__layer {
    background-color: var(--seed-v3-color-bg-layer-default);
}
.appScreen__edge {
    z-index: var(--z-index-edge);
    position: absolute;
    width: 20px;
    height: 100%;
    left: 0;
    right: 0;
}
.appScreen__root--theme_cupertino {
    --app-bar-height: 44px;
}
.appScreen__dim--theme_cupertino {
    height: 100%;
    background: var(--seed-v3-color-bg-overlay);
}
.appScreen__root--theme_android {
    --app-bar-height: 56px;
}
.appScreen__dim--theme_android {
    height: var(--screen-height, 8vh);
    background: linear-gradient(var(--seed-v3-color-bg-overlay), rgba(0, 0, 0, 0));
}
.appScreen__edge--theme_android {
    display: none;
}
.appScreen__root--transitionStyle_slideFromRightIOS {
    --z-index-dim: calc(var(--z-index-base) + 0);
    --z-index-layer: calc(var(--z-index-base) + 2);
    --z-index-edge: calc(var(--z-index-base) + 4);
    --z-index-app-bar: calc(var(--z-index-base) + 7);
}
.appScreen__layer--transitionStyle_slideFromRightIOS {
    transform: translate3d(0, 0, 0);
}
[data-global-transition-state=enter-active] .appScreen__layer--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 100%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
}
[data-global-transition-state=exit-active] .appScreen__layer--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    transform: translate3d(var(--swipe-back-displacement, 0), 0, 0);
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 100%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
[data-global-transition-state=enter-done] .appScreen__layer--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: var(--swipe-back-displacement, 0);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
}
[data-swipe-back-state=swiping] .appScreen__layer--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    animation: none;
    transform: translate3d(var(--swipe-back-displacement, 0), 0, 0);
}
[data-global-transition-state=enter-active] .appScreen__layer--transitionStyle_slideFromRightIOS[data-top-activity-type="full-screen"]:not([data-activity-is-top]) {
    transform: translate3d(0, 0, 0);
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: -30%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
[data-global-transition-state=exit-active] .appScreen__layer--transitionStyle_slideFromRightIOS[data-top-activity-type="full-screen"]:not([data-activity-is-top]) {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: calc(-30% + var(--swipe-back-displacement, 0) * 0.3);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
}
[data-global-transition-state=enter-done] .appScreen__layer--transitionStyle_slideFromRightIOS[data-top-activity-type="full-screen"]:not([data-activity-is-top]) {
    transform: translate3d(calc(-30% + var(--swipe-back-displacement, 0) * 0.3), 0, 0);
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: -30%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
[data-swipe-back-state=swiping] .appScreen__layer--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    animation: none;
    transform: translate3d(calc(-30% + var(--swipe-back-displacement, 0) * 0.3), 0, 0);
}
.appScreen__dim--transitionStyle_slideFromRightIOS {
    opacity: 1;
}
[data-global-transition-state=enter-active] .appScreen__dim--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    opacity: 1;
}
[data-global-transition-state=exit-active] .appScreen__dim--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    animation: seed-exit;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
[data-global-transition-state=enter-done] .appScreen__dim--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.22, 0.1, 0.3, 0.85);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    opacity: 1;
}
[data-swipe-back-state=swiping] .appScreen__dim--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    animation: none;
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0));
}
.appScreen__root--transitionStyle_fadeFromBottomAndroid {
    --z-index-dim: calc(var(--z-index-base) + 0);
    --z-index-layer: calc(var(--z-index-base) + 3);
    --z-index-edge: calc(var(--z-index-base) + 4);
    --z-index-app-bar: calc(var(--z-index-base) + 4);
}
.appScreen__layer--transitionStyle_fadeFromBottomAndroid {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
[data-global-transition-state=enter-active] .appScreen__layer--transitionStyle_fadeFromBottomAndroid[data-activity-is-top] {
    animation: seed-enter;
    animation-timing-function: cubic-bezier(0.23, 0.1, 0.32, 1);
    animation-duration: 300ms;
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 8vh;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
[data-global-transition-state=exit-active] .appScreen__layer--transitionStyle_fadeFromBottomAndroid[data-activity-is-top] {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    animation: seed-exit;
    animation-timing-function: linear;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 8vh;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.appScreen__root--hasAppBar_true {
    --app-bar-margin: var(--app-bar-height);
}
@supports (padding: max(0px)) and (padding: constant(safe-area-inset-top)) {
    .appScreen__root--hasAppBar_true {
        --app-bar-margin: calc(var(--app-bar-height) + max(0px, constant(safe-area-inset-top)));
    }
}
@supports (padding: max(0px)) and (padding: env(safe-area-inset-top)) {
    .appScreen__root--hasAppBar_true {
        --app-bar-margin: calc(var(--app-bar-height) + max(0px, env(safe-area-inset-top)));
    }
}
.appScreen__edge--hasAppBar_true {
    top: var(--app-bar-height);
    height: calc(100% - var(--app-bar-height));
}