.seed-box {
  --seed-box-background: initial;
  --seed-box-color: initial;
  background-color: var(--seed-box-background);
  color: var(--seed-box-color);

  --seed-box-border-style: solid;
  --seed-box-border-color: initial;
  border-style: var(--seed-box-border-style);
  border-color: var(--seed-box-border-color);

  --seed-box-border-width: 0;
  --seed-box-border-top-width: var(--seed-box-border-width);
  --seed-box-border-bottom-width: var(--seed-box-border-width);
  --seed-box-border-left-width: var(--seed-box-border-width);
  --seed-box-border-right-width: var(--seed-box-border-width);
  border-top-width: var(--seed-box-border-top-width);
  border-bottom-width: var(--seed-box-border-bottom-width);
  border-left-width: var(--seed-box-border-left-width);
  border-right-width: var(--seed-box-border-right-width);

  --seed-box-padding: 0;
  --seed-box-padding-y: var(--seed-box-padding);
  --seed-box-padding-x: var(--seed-box-padding);
  --seed-box-padding-bottom: var(--seed-box-padding-y);
  --seed-box-padding-top: var(--seed-box-padding-y);
  --seed-box-padding-left: var(--seed-box-padding-x);
  --seed-box-padding-right: var(--seed-box-padding-x);
  padding-top: var(--seed-box-padding-top);
  padding-bottom: var(--seed-box-padding-bottom);
  padding-left: var(--seed-box-padding-left);
  padding-right: var(--seed-box-padding-right);

  --seed-box-min-height: initial;
  --seed-box-max-height: initial;
  --seed-box-height: initial;
  --seed-box-min-width: initial;
  --seed-box-max-width: initial;
  --seed-box-width: initial;
  min-height: var(--seed-box-min-height);
  max-height: var(--seed-box-max-height);
  height: var(--seed-box-height);
  min-width: var(--seed-box-min-width);
  max-width: var(--seed-box-max-width);
  width: var(--seed-box-width);

  --seed-box-top: initial;
  --seed-box-bottom: initial;
  --seed-box-left: initial;
  --seed-box-right: initial;
  top: var(--seed-box-top);
  bottom: var(--seed-box-bottom);
  left: var(--seed-box-left);
  right: var(--seed-box-right);

  --seed-box-border-radius: initial;
  --seed-box-border-bottom-left-radius: var(--seed-box-border-radius);
  --seed-box-border-bottom-right-radius: var(--seed-box-border-radius);
  --seed-box-border-top-left-radius: var(--seed-box-border-radius);
  --seed-box-border-top-right-radius: var(--seed-box-border-radius);
  border-bottom-left-radius: var(--seed-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--seed-box-border-bottom-right-radius);
  border-top-left-radius: var(--seed-box-border-top-left-radius);
  border-top-right-radius: var(--seed-box-border-top-right-radius);

  --seed-box-display: block;
  --seed-box-position: initial;
  display: var(--seed-box-display);
  position: var(--seed-box-position);

  --seed-box-overflow-x: initial;
  --seed-box-overflow-y: initial;
  overflow-x: var(--seed-box-overflow-x);
  overflow-y: var(--seed-box-overflow-y);

  --seed-box-flex-grow: initial;
  --seed-box-flex-shrink: initial;
  flex-grow: var(--seed-box-flex-grow);
  flex-shrink: var(--seed-box-flex-shrink);

  --seed-box-flex-direction: initial;
  --seed-box-flex-wrap: initial;
  --seed-box-justify-content: initial;
  --seed-box-align-items: stretch;
  --seed-box-align-content: stretch;
  --seed-box-gap: initial;
  flex-direction: var(--seed-box-flex-direction);
  flex-wrap: var(--seed-box-flex-wrap);
  justify-content: var(--seed-box-justify-content);
  align-items: var(--seed-box-align-items);
  align-content: var(--seed-box-align-content);
  gap: var(--seed-box-gap);
}

@keyframes seed-enter {
  from {
    opacity: var(--seed-enter-opacity, 1);
    transform: translate3d(var(--seed-enter-translate-x, 0),
        var(--seed-enter-translate-y, 0),
        0) scale3d(var(--seed-enter-scale, 1),
        var(--seed-enter-scale, 1),
        var(--seed-enter-scale, 1)) rotate(var(--seed-enter-rotate, 0));
  }
}

@keyframes seed-exit {
  to {
    opacity: var(--seed-exit-opacity, 1);
    transform: translate3d(var(--seed-exit-translate-x, 0),
        var(--seed-exit-translate-y, 0),
        0) scale3d(var(--seed-exit-scale, 1),
        var(--seed-exit-scale, 1),
        var(--seed-exit-scale, 1)) rotate(var(--seed-exit-rotate, 0));
  }
}