.callout__root {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    padding: var(--seed-v3-dimension-s3_5);
    gap: var(--seed-v3-dimension-s3);
    border-radius: var(--seed-v3-radius-s2_5);
    border: none;
    text-align: start;
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
}
.callout__root:is(button) {
    cursor: pointer;
}
.callout__icon {
    flex: none;
    width: var(--seed-v3-dimension-s4);
    height: var(--seed-v3-dimension-s4);
}
.callout__textContent {
    margin-inline-end: auto;
}
.callout__title {
    font-weight: var(--seed-v3-font-weight-bold);
}
.callout__spacer {
    letter-spacing: 0.25em;
}
.callout__description {
    font-weight: var(--seed-v3-font-weight-regular);
}
.callout__linkLabel {
    text-decoration: underline;
    text-underline-offset: 2px;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.callout__actionableIcon {
    flex: none;
    width: var(--seed-v3-dimension-s4);
    height: var(--seed-v3-dimension-s4);
}
.callout__dismissButton {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--seed-v3-dimension-s10);
    height: var(--seed-v3-dimension-s10);
    margin: calc((var(--seed-v3-dimension-s10) - var(--seed-v3-dimension-s4)) * -0.5);
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.callout__dismissIcon {
    width: var(--seed-v3-dimension-s4);
    height: var(--seed-v3-dimension-s4);
}
.callout__root--tone_neutral {
    background-color: var(--seed-v3-color-bg-neutral-weak);
}
.callout__root--tone_neutral:is(button):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.callout__icon--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__title--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__description--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__linkLabel--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__actionableIcon--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__dismissIcon--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.callout__root--tone_informative {
    background-color: var(--seed-v3-color-bg-informative-weak);
}
.callout__root--tone_informative:is(button):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-informative-weak-pressed);
}
.callout__icon--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__title--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__description--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__linkLabel--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__actionableIcon--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__dismissIcon--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.callout__root--tone_warning {
    background-color: var(--seed-v3-color-bg-warning-weak);
}
.callout__root--tone_warning:is(button):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-warning-weak-pressed);
}
.callout__icon--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__title--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__description--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__linkLabel--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__actionableIcon--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__dismissIcon--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.callout__root--tone_critical {
    background-color: var(--seed-v3-color-bg-critical-weak);
}
.callout__root--tone_critical:is(button):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-critical-weak-pressed);
}
.callout__icon--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__title--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__description--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__linkLabel--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__actionableIcon--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__dismissIcon--tone_critical {
    color: var(--seed-v3-color-fg-critical-contrast);
}
.callout__root--tone_magic {
    background-color: var(--seed-v3-color-bg-magic-weak);
}
.callout__root--tone_magic:is(button):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-magic-weak-pressed);
}
.callout__icon--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.callout__title--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.callout__description--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.callout__linkLabel--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.callout__actionableIcon--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}
.callout__dismissIcon--tone_magic {
    color: var(--seed-v3-color-fg-magic-contrast);
}