.checkbox__root {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    max-inline-size: 100%;
    vertical-align: top;
    isolation: isolate;
    cursor: pointer;
    gap: var(--seed-v3-dimension-x2);
}
.checkbox__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.checkbox__control {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}
.checkbox__icon {
    display: none;
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: initial;
}
.checkbox__label {
    color: var(--seed-v3-color-fg-neutral);
}
.checkbox__label--weight_default {
    font-weight: var(--seed-v3-font-weight-regular);
}
.checkbox__label--weight_stronger {
    font-weight: var(--seed-v3-font-weight-bold);
}
.checkbox__control--variant_square {
    border-width: 1px;
    border-style: solid;
    border-color: var(--seed-v3-color-stroke-control);
}
.checkbox__control--variant_square:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: var(--seed-v3-color-bg-brand-solid);
    border-width: 0;
}
.checkbox__control--variant_square:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-layer-default-pressed);
}
.checkbox__control--variant_square:is(:active, [data-active]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: var(--seed-v3-color-bg-brand-solid-pressed);
}
.checkbox__control--variant_square:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
    border-color: var(--seed-v3-color-stroke-neutral);
}
.checkbox__control--variant_square:is(:disabled, [disabled], [data-disabled]):is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-disabled);
}
.checkbox__icon--variant_square:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    display: block;
    color: var(--seed-v3-color-palette-static-white);
}
.checkbox__icon--variant_square:is(:disabled, [disabled], [data-disabled]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    display: block;
    color: var(--seed-v3-color-fg-disabled);
}
.checkbox__label--variant_square:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.checkbox__control--variant_ghost {
    background: none;
}
.checkbox__control--variant_ghost:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: none;
}
.checkbox__control--variant_ghost:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-layer-default-pressed);
}
.checkbox__control--variant_ghost:is(:active, [data-active]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: var(--seed-v3-color-palette-carrot-200);
}
.checkbox__control--variant_ghost:is(:disabled, [disabled], [data-disabled]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: none;
}
.checkbox__control--variant_ghost:is(:disabled, [disabled], [data-disabled]):is(:active, [data-active]) {
    background: none;
}
.checkbox__icon--variant_ghost {
    display: block;
    color: var(--seed-v3-color-fg-placeholder);
}
.checkbox__icon--variant_ghost:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--seed-v3-color-fg-brand);
}
.checkbox__icon--variant_ghost:is(:disabled, [disabled], [data-disabled]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--seed-v3-color-fg-disabled);
}
.checkbox__icon--variant_ghost:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.checkbox__label--variant_ghost:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.checkbox__root--size_large {
    min-height: var(--seed-v3-dimension-x9);
}
.checkbox__control--size_large {
    border-radius: var(--seed-v3-radius-r1);
    width: var(--seed-v3-dimension-x6);
    height: var(--seed-v3-dimension-x6);
    margin: calc((var(--seed-v3-dimension-x9) - var(--seed-v3-dimension-x6)) / 2) 0;
}
.checkbox__label--size_large {
    font-size: var(--seed-v3-font-size-t5);
    line-height: var(--seed-v3-line-height-t5);
    margin-block-start: calc(18px - 0.65625rem);
}
.checkbox__root--size_medium {
    min-height: var(--seed-v3-dimension-x8);
}
.checkbox__control--size_medium {
    border-radius: var(--seed-v3-radius-r1);
    width: var(--seed-v3-dimension-x5);
    height: var(--seed-v3-dimension-x5);
    margin: calc((var(--seed-v3-dimension-x8) - var(--seed-v3-dimension-x5)) / 2) 0;
}
.checkbox__label--size_medium {
    font-size: var(--seed-v3-font-size-t4);
    line-height: var(--seed-v3-line-height-t4);
    margin-block-start: calc(16px - 0.59375rem);
}
.checkbox__icon--size_medium-variant_ghost {
    width: 14px;
    height: 14px;
}
.checkbox__icon--size_large-variant_ghost {
    width: 18px;
    height: 18px;
}
.checkbox__icon--size_medium-variant_square {
    width: 12px;
    height: 12px;
}
.checkbox__icon--size_large-variant_square {
    width: 14px;
    height: 14px;
}