.chipTabs__root {
    position: relative;
}
.chipTabs__list {
    display: flex;
    position: relative;
    isolation: isolate;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px var(--seed-v3-dimension-x4);
}
.chipTabs__list::-webkit-scrollbar {
    display: none;
}
.chipTabs__carousel {
    display: block;
    overflow: hidden;
}
.chipTabs__carouselCamera {
    display: flex;
}
.chipTabs__carouselCamera[data-auto-height] {
    align-items: flex-start;
}
.chipTabs__content {
    flex: 0 0 100%;
    min-width: 0;
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
}
.chipTabs__content:not([data-carousel]):not(:is(:selected, [data-selected])) {
    display: none;
}
.chipTabs__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    white-space: nowrap;
    font-family: inherit;
    border-radius: var(--seed-v3-radius-full);
    padding: var(--seed-v3-dimension-x2) var(--seed-v3-dimension-x3_5);
    min-height: 36px;
}
.chipTabs__triggerLabel {
    font-size: var(--seed-v3-font-size-t4);
    font-weight: var(--seed-v3-font-weight-bold);
}
.chipTabs__list--variant_neutralSolid {
    gap: 0px;
}
.chipTabs__trigger--variant_neutralSolid:is(:selected, [data-selected]) {
    background-color: var(--seed-v3-color-bg-neutral-inverted);
}
.chipTabs__trigger--variant_neutralSolid:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-layer-default-pressed);
}
.chipTabs__trigger--variant_neutralSolid:is(:selected, [data-selected]):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-neutral-inverted-pressed);
}
.chipTabs__trigger--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.chipTabs__trigger--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]):is(:selected, [data-selected]) {
    background-color: var(--seed-v3-color-bg-disabled);
}
.chipTabs__triggerLabel--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral);
    font-weight: var(--seed-v3-font-weight-bold);
}
.chipTabs__triggerLabel--variant_neutralSolid:is(:selected, [data-selected]) {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.chipTabs__triggerLabel--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.chipTabs__triggerLabel--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]):is(:selected, [data-selected]) {
    color: var(--seed-v3-color-fg-disabled);
}
.chipTabs__list--variant_brandSolid {
    gap: 8px;
}
.chipTabs__trigger--variant_brandSolid {
    font-weight: var(--seed-v3-font-weight-medium);
    background-color: var(--seed-v3-color-bg-neutral-weak);
}
.chipTabs__trigger--variant_brandSolid:is(:selected, [data-selected]) {
    background-color: var(--seed-v3-color-bg-brand-solid);
}
.chipTabs__trigger--variant_brandSolid:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.chipTabs__trigger--variant_brandSolid:is(:selected, [data-selected]):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-brand-solid-pressed);
}
.chipTabs__trigger--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background-color: var(--seed-v3-color-bg-disabled);
}
.chipTabs__trigger--variant_brandSolid:is(:disabled, [disabled], [data-disabled]):is(:selected, [data-selected]) {
    background-color: var(--seed-v3-color-bg-disabled);
}
.chipTabs__triggerLabel--variant_brandSolid {
    color: var(--seed-v3-color-fg-neutral-muted);
    font-weight: var(--seed-v3-font-weight-medium);
}
.chipTabs__triggerLabel--variant_brandSolid:is(:selected, [data-selected]) {
    color: var(--seed-v3-color-palette-static-white);
    font-weight: var(--seed-v3-font-weight-bold);
}
.chipTabs__triggerLabel--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.chipTabs__root--contentLayout_fill {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chipTabs__carousel--contentLayout_fill {
    flex: 1;
}
.chipTabs__carouselCamera--contentLayout_fill {
    height: 100%;
    align-items: stretch;
}
.chipTabs__root--contentLayout_hug {
    display: block;
}
.chipTabs__root--stickyList_true {
    position: relative;
}
.chipTabs__list--stickyList_true {
    position: sticky;
    top: 0;
    z-index: 1;
}