.seed-control-chip__root {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    text-transform: none;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
    border-radius: var(--seed-radius-full);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral);
}
.seed-control-chip__root:is(:focus, [data-focus]) {
    outline: none;
}
.seed-control-chip__root:is(:active, [data-active]) {
    background: var(--seed-color-bg-layer-default-pressed);
}
.seed-control-chip__root:is(:checked, [data-checked]) {
    background: var(--seed-color-bg-neutral-solid-muted);
    box-shadow: none;
}
.seed-control-chip__root:is(:checked, [data-checked]):is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-solid-muted-pressed);
}
.seed-control-chip__root:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    cursor: not-allowed;
}
.seed-control-chip__label {
    line-height: 1;
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-medium);
}
.seed-control-chip__label:is(:checked, [data-checked]) {
    color: var(--seed-color-palette-static-white);
    font-weight: var(--seed-font-weight-bold);
}
.seed-control-chip__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-control-chip__prefixIcon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral);
}
.seed-control-chip__prefixIcon:is(:checked, [data-checked]) {
    color: var(--seed-color-palette-static-white);
}
.seed-control-chip__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-control-chip__suffixIcon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-control-chip__suffixIcon:is(:checked, [data-checked]) {
    color: var(--seed-color-palette-static-white);
}
.seed-control-chip__suffixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-control-chip__icon {
    display: inline-flex;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral);
}
.seed-control-chip__icon:is(:checked, [data-checked]) {
    color: var(--seed-color-palette-static-white);
}
.seed-control-chip__icon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-control-chip__count {
    line-height: 1;
    color: var(--seed-color-fg-neutral-muted);
    font-weight: var(--seed-font-weight-medium);
}
.seed-control-chip__count:is(:checked, [data-checked]) {
    color: var(--seed-color-palette-static-white-alpha-800);
}
.seed-control-chip__root--size_medium {
    min-height: var(--seed-dimension-x9);
    padding-block: var(--seed-dimension-x2);
    gap: var(--seed-dimension-x1);
}
.seed-control-chip__label--size_medium {
    font-size: var(--seed-font-size-t4);
}
.seed-control-chip__prefixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-control-chip__suffixIcon--size_medium {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-control-chip__count--size_medium {
    font-size: var(--seed-font-size-t4);
}
.seed-control-chip__root--size_small {
    min-height: var(--seed-dimension-x8);
    padding-block: var(--seed-dimension-x1_5);
    gap: var(--seed-dimension-x1);
}
.seed-control-chip__label--size_small {
    font-size: var(--seed-font-size-t4);
}
.seed-control-chip__prefixIcon--size_small {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-control-chip__suffixIcon--size_small {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-control-chip__count--size_small {
    font-size: var(--seed-font-size-t4);
}
.seed-control-chip__root--size_medium-layout_withText {
    padding-inline: var(--seed-dimension-x3_5);
}
.seed-control-chip__root--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
}
.seed-control-chip__icon--size_medium-layout_iconOnly {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-control-chip__root--size_small-layout_withText {
    padding-inline: var(--seed-dimension-x3);
}
.seed-control-chip__root--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
}
.seed-control-chip__icon--size_small-layout_iconOnly {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}