.dialog__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    overscroll-behavior-y: none;
    --dialog-z-index: 2;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
}
.dialog__backdrop {
    position: fixed;
    inset: 0;
    background: var(--seed-v3-color-bg-overlay);
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
}
.dialog__backdrop:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter);
    animation-duration: var(--seed-v3-duration-d2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.dialog__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.dialog__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
    background: var(--seed-v3-color-bg-layer-default);
    max-width: 272px;
    margin: auto var(--seed-v3-dimension-x8);
    padding: var(--seed-v3-dimension-x5) var(--seed-v3-dimension-x5);
    border-radius: var(--seed-v3-radius-r5);
}
.dialog__content:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter-expressive);
    animation-duration: var(--seed-v3-duration-d4);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1.3;
}
.dialog__content:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.dialog__header {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-dimension-x1_5);
}
.dialog__title {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-t7);
    line-height: var(--seed-v3-line-height-t7);
    font-weight: var(--seed-v3-font-weight-bold);
    margin: 0;
}
.dialog__description {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-t5);
    line-height: var(--seed-v3-line-height-t5);
    font-weight: var(--seed-v3-font-weight-regular);
    margin: 0;
    white-space: pre-wrap;
}
.dialog__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: var(--seed-v3-dimension-x4);
}