.dialog__backdrop {
    position: fixed;
    inset: 0;
    background: var(--seed-v3-color-bg-overlay);
}
.dialog__backdrop:is([data-transition-state='exit-active'],[data-transition-state='exit-done']) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-s2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.dialog__backdrop:is([data-transition-state='enter-active'],[data-transition-state='enter-done']) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter);
    animation-duration: var(--seed-v3-duration-s2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.dialog__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}
.dialog__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    background: var(--seed-v3-color-bg-layer-default);
    max-width: 272px;
    margin: auto var(--seed-v3-dimension-s8);
    padding: var(--seed-v3-dimension-s5) var(--seed-v3-dimension-s5);
    border-radius: var(--seed-v3-radius-s5);
}
.dialog__content:is([data-transition-state='exit-active'],[data-transition-state='exit-done']) {
    animation: seed-exit;
    animation-timing-function: var(--seed-v3-timing-function-exit);
    animation-duration: var(--seed-v3-duration-s2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.dialog__content:is([data-transition-state='enter-active'],[data-transition-state='enter-done']) {
    animation: seed-enter;
    animation-timing-function: var(--seed-v3-timing-function-enter-expressive);
    animation-duration: var(--seed-v3-duration-s4);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1.3;
}
.dialog__header {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-dimension-s1_5);
}
.dialog__title {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-s7);
    line-height: var(--seed-v3-line-height-s7);
    font-weight: var(--seed-v3-font-weight-bold);
    margin: 0;
}
.dialog__description {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
    font-weight: var(--seed-v3-font-weight-regular);
    margin: 0;
    white-space: pre-wrap;
}
.dialog__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: var(--seed-v3-dimension-s4);
    gap: var(--seed-v3-dimension-s2);
}
.dialog__action {
    width: initial;
    min-width: calc(50% - var(--seed-v3-dimension-s2) / 2);
}
.dialog__footer--footerLayout_horizontal {
    flex-direction: row-reverse;
}
.dialog__footer--footerLayout_vertical {
    flex-direction: column;
}