.dismissibleCallout__root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-inline-start: var(--seed-v3-unit-3\.5);
    padding-inline-end: var(--seed-v3-unit-0\.5);
    padding-block: 5px;
    border-radius: var(--seed-v3-radii-2\.5)
}
.dismissibleCallout__content {
    display: flex;
    align-items: center;
    gap: var(--seed-v3-unit-3);
    padding-block: 9.5px;
    font-size: var(--seed-v3-font-size-100);
    line-height: 1.3125rem;
    text-align: start
}
.dismissibleCallout__title {
    font-weight: var(--seed-v3-font-weight-bold)
}
.dismissibleCallout__spacer {
    letter-spacing: 0.25em
}
.dismissibleCallout__label {
    font-weight: var(--seed-v3-font-weight-regular)
}
.dismissibleCallout__linkLabel {
    text-decoration: underline;
    text-underline-offset: 2px;
    display: inline;
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: inherit;
    font: inherit
}
.dismissibleCallout__dismissButton {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--seed-v3-unit-10);
    height: var(--seed-v3-unit-10);
    border: none;
    background-color: transparent;
    padding: 0
}
.dismissibleCallout__xIcon {
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4)
}
.dismissibleCallout__root--variant_neutral {
    background-color: var(--seed-v3-color-bg-neutral-weak)
}
.dismissibleCallout__title--variant_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.dismissibleCallout__label--variant_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.dismissibleCallout__linkLabel--variant_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.dismissibleCallout__xIcon--variant_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.dismissibleCallout__root--variant_informative {
    background-color: var(--seed-v3-color-bg-informative-weak)
}
.dismissibleCallout__title--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.dismissibleCallout__label--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.dismissibleCallout__linkLabel--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.dismissibleCallout__xIcon--variant_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.dismissibleCallout__root--variant_warning {
    background-color: var(--seed-v3-color-bg-warning-weak)
}
.dismissibleCallout__title--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.dismissibleCallout__label--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.dismissibleCallout__linkLabel--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.dismissibleCallout__xIcon--variant_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.dismissibleCallout__root--variant_danger {
    background-color: var(--seed-v3-color-bg-danger-weak)
}
.dismissibleCallout__title--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.dismissibleCallout__label--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.dismissibleCallout__linkLabel--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.dismissibleCallout__xIcon--variant_danger {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.dismissibleCallout__root--variant_magic {
    background-color: var(--seed-v3-color-bg-magic-weak)
}
.dismissibleCallout__title--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast)
}
.dismissibleCallout__label--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast)
}
.dismissibleCallout__linkLabel--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast)
}
.dismissibleCallout__xIcon--variant_magic {
    color: var(--seed-v3-color-fg-magic-contrast)
}