.dismissibleInlineBanner__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--seed-v3-unit-1);
    padding-inline-end: var(--seed-v3-unit-1)
}
.dismissibleInlineBanner__dismissButton {
    flex: none;
    width: var(--seed-v3-unit-10);
    height: var(--seed-v3-unit-10)
}
.dismissibleInlineBanner__xIcon {
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
    margin: auto
}
.dismissibleInlineBanner__xIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.dismissibleInlineBanner__link--variant_positiveWeak {}
.dismissibleInlineBanner__xIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.dismissibleInlineBanner__xIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.dismissibleInlineBanner__xIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.dismissibleInlineBanner__xIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}