.extendedFab__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
}
.extendedFab__root:is(:focus, [data-focus]) {
    outline: none;
}
.extendedFab__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.extendedFab__root {
    border-radius: var(--seed-v3-radius-full);
    box-shadow: 0px 2px 6px 0px #00000026;
}
.extendedFab__prefixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.extendedFab__root--variant_neutralSolid {
    background: var(--seed-v3-color-bg-neutral-inverted);
}
.extendedFab__root--variant_neutralSolid:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-inverted-pressed);
}
.extendedFab__label--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.extendedFab__prefixIcon--variant_neutralSolid {
    color: var(--seed-v3-color-fg-neutral-inverted);
}
.extendedFab__root--variant_layerFloating {
    background: var(--seed-v3-color-bg-layer-floating);
}
.extendedFab__root--variant_layerFloating:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-layer-floating-pressed);
}
.extendedFab__label--variant_layerFloating {
    color: var(--seed-v3-color-fg-neutral);
}
.extendedFab__prefixIcon--variant_layerFloating {
    color: var(--seed-v3-color-fg-neutral);
}
.extendedFab__root--size_small {
    padding-inline: var(--seed-v3-dimension-s3_5);
    padding-block: var(--seed-v3-dimension-s2_5);
    min-height: 40px;
    gap: var(--seed-v3-dimension-s1);
}
.extendedFab__label--size_small {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
    font-weight: var(--seed-v3-font-weight-medium);
}
.extendedFab__prefixIcon--size_small {
    width: 16px;
    height: 16px;
}
.extendedFab__root--size_medium {
    padding-inline: var(--seed-v3-dimension-s4);
    padding-block: var(--seed-v3-dimension-s3);
    min-height: 48px;
    gap: var(--seed-v3-dimension-s1);
}
.extendedFab__label--size_medium {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
    font-weight: var(--seed-v3-font-weight-bold);
}
.extendedFab__prefixIcon--size_medium {
    width: 16px;
    height: 16px;
}