.seed-extended-action-sheet-close-button__root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--seed-color-bg-neutral-weak);
    min-height: 52px;
    padding-inline: var(--seed-dimension-x5);
    padding-block: var(--seed-dimension-x3_5);
    border-radius: var(--seed-radius-r3);
}
.seed-extended-action-sheet-close-button__root:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-extended-action-sheet-close-button__label {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-medium);
}