.inlineBanner__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--seed-v3-unit-4);
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-inline: var(--seed-v3-unit-4);
    padding-block: var(--seed-v3-unit-2\.5)
}
.inlineBanner__content {
    display: flex;
    align-items: flex-start;
    gap: var(--seed-v3-unit-2);
    font-size: var(--seed-v3-font-size-100);
    line-height: 19px
}
.inlineBanner__prefixIcon {
    flex: none;
    margin-block: 1.5px;
    width: 16px;
    height: 16px
}
.inlineBanner__title {
    font-weight: var(--seed-v3-font-weight-bold)
}
.inlineBanner__spacer {
    letter-spacing: 0.25em
}
.inlineBanner__label {
    font-weight: var(--seed-v3-font-weight-medium)
}
.inlineBanner__actionLabel {
    flex: none;
    font-size: var(--seed-v3-font-size-50);
    font-weight: var(--seed-v3-font-weight-regular);
    line-height: 16px;
    text-decoration: underline;
    text-underline-offset: 2px
}
.inlineBanner__dismissButton {
    flex: none
}
.inlineBanner__xIcon {
    width: 16px;
    height: 16px
}
.inlineBanner__root--tone_neutral {
    background-color: var(--seed-v3-color-bg-neutral-weak)
}
.inlineBanner__prefixIcon--tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__title--tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__label--tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__actionLabel--tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__xIcon--tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__root--tone_positive {
    background-color: var(--seed-v3-color-bg-positive-weak)
}
.inlineBanner__prefixIcon--tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__title--tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__label--tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__actionLabel--tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__xIcon--tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__root--tone_informative {
    background-color: var(--seed-v3-color-bg-informative-weak)
}
.inlineBanner__prefixIcon--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__title--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__label--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__actionLabel--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__xIcon--tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__root--tone_warning {
    background-color: var(--seed-v3-color-bg-warning-weak)
}
.inlineBanner__prefixIcon--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__title--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__label--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__actionLabel--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__xIcon--tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__root--tone_danger {
    position: sticky;
    top: 0;
    background-color: var(--seed-v3-color-bg-danger-weak)
}
.inlineBanner__prefixIcon--tone_danger {
    color: var(--seed-v3-color-fg-danger)
}
.inlineBanner__title--tone_danger {
    color: var(--seed-v3-color-fg-danger)
}
.inlineBanner__label--tone_danger {
    color: var(--seed-v3-color-fg-danger)
}
.inlineBanner__actionLabel--tone_danger {
    color: var(--seed-v3-color-fg-danger)
}