.inlineBanner__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--seed-v3-unit-4);
    width: 100%;
    padding-inline: var(--seed-v3-unit-4);
    padding-block: var(--seed-v3-unit-2\.5)
}
.inlineBanner__content {
    display: flex;
    align-items: start;
    gap: var(--seed-v3-unit-2)
}
.inlineBanner__prefixIconContainer {
    display: flex;
    align-items: center;
    flex: none;
    height: 19px
}
.inlineBanner__prefixIcon {
    width: 16px;
    height: 16px
}
.inlineBanner__xIcon {
    width: 16px;
    height: 16px;
    flex: none
}
.inlineBanner__label {
    font-size: var(--seed-v3-font-size-100);
    font-weight: var(--seed-v3-font-weight-medium);
    line-height: 19px
}
.inlineBanner__link {
    font-size: var(--seed-v3-font-size-50);
    font-weight: var(--seed-v3-font-weight-regular);
    text-decoration: underline
}
.inlineBanner__prefixIcon--variant_solid {
    color: var(--seed-v3-color-fg-static-white)
}
.inlineBanner__label--variant_solid {
    color: var(--seed-v3-color-fg-static-white)
}
.inlineBanner__xIcon--variant_solid {
    color: var(--seed-v3-color-fg-static-white)
}
.inlineBanner__root--variant_solid-tone_neutral {
    background-color: var(--seed-v3-color-palette-gray-700)
}
.inlineBanner__root--variant_solid-tone_positive {
    background-color: var(--seed-v3-color-bg-positive-solid)
}
.inlineBanner__root--variant_solid-tone_informative {
    background-color: var(--seed-v3-color-bg-informative-solid)
}
.inlineBanner__root--variant_solid-tone_warning {
    background-color: var(--seed-v3-color-bg-warning-solid)
}
.inlineBanner__root--variant_solid-tone_danger {
    background-color: var(--seed-v3-color-bg-danger-solid)
}
.inlineBanner__root--variant_weak-tone_neutral {
    background-color: var(--seed-v3-color-bg-neutral-weak)
}
.inlineBanner__prefixIcon--variant_weak-tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__label--variant_weak-tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__xIcon--variant_weak-tone_neutral {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__root--variant_weak-tone_positive {
    background-color: var(--seed-v3-color-bg-positive-weak)
}
.inlineBanner__prefixIcon--variant_weak-tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__label--variant_weak-tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__xIcon--variant_weak-tone_positive {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__root--variant_weak-tone_informative {
    background-color: var(--seed-v3-color-bg-informative-weak)
}
.inlineBanner__prefixIcon--variant_weak-tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__label--variant_weak-tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__xIcon--variant_weak-tone_informative {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__root--variant_weak-tone_warning {
    background-color: var(--seed-v3-color-bg-warning-weak)
}
.inlineBanner__prefixIcon--variant_weak-tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__label--variant_weak-tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__xIcon--variant_weak-tone_warning {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__root--variant_weak-tone_danger {
    background-color: var(--seed-v3-color-bg-danger-weak)
}
.inlineBanner__prefixIcon--variant_weak-tone_danger {
    color: var(--seed-v3-color-fg-danger)
}
.inlineBanner__label--variant_weak-tone_danger {
    color: var(--seed-v3-color-fg-danger)
}
.inlineBanner__xIcon--variant_weak-tone_danger {
    color: var(--seed-v3-color-fg-danger)
}