.inlineBanner__root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--seed-v3-unit-1);
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-inline-start: var(--seed-v3-unit-4);
    padding-inline-end: var(--seed-v3-unit-1);
}
.inlineBanner__root:is(button) {
    border: none;
    padding-block: 0;
    font: inherit;
    cursor: pointer;
}
.inlineBanner__content {
    display: flex;
    align-items: flex-start;
    gap: var(--seed-v3-unit-2);
    padding-block: 10.5px;
    font-size: var(--seed-v3-font-size-100);
    line-height: 1.1875rem;
    text-align: start;
}
.inlineBanner__content:only-child {
    padding-inline-end: var(--seed-v3-unit-3);
}
.inlineBanner__icon {
    flex: none;
    margin-block: 1.5px;
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
}
.inlineBanner__title {
    font-weight: var(--seed-v3-font-weight-bold);
}
.inlineBanner__spacer {
    letter-spacing: 0.25em;
}
.inlineBanner__label {
    font-weight: var(--seed-v3-font-weight-medium);
}
.inlineBanner__linkLabel {
    flex: none;
    height: var(--seed-v3-unit-10);
    padding-inline: var(--seed-v3-unit-3);
    font-size: var(--seed-v3-font-size-50);
    font-weight: var(--seed-v3-font-weight-regular);
    line-height: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    border: none;
    background-color: transparent;
    padding-block: 0;
    cursor: pointer;
}
.inlineBanner__actionableIcon {
    flex: none;
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
    margin: var(--seed-v3-unit-3);
}
.inlineBanner__dismissButton {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--seed-v3-unit-10);
    height: var(--seed-v3-unit-10);
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.inlineBanner__dismissIcon {
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
}
.inlineBanner__linkLabel {
    flex: none;
    height: var(--seed-v3-unit-10);
    padding-inline: var(--seed-v3-unit-3);
    font-size: var(--seed-v3-font-size-50);
    font-weight: var(--seed-v3-font-weight-regular);
    line-height: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    border: none;
    background-color: transparent;
    padding: 0
}
.inlineBanner__dismissButton {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--seed-v3-unit-10);
    height: var(--seed-v3-unit-10);
    border: none;
    background-color: transparent;
    padding: 0
}
.inlineBanner__xIcon {
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4)
}
.inlineBanner__chevronRightIcon {
    flex: none;
    width: var(--seed-v3-unit-4);
    height: var(--seed-v3-unit-4);
    margin: var(--seed-v3-unit-3)
}
.inlineBanner__root--type_default {
    padding-inline-end: var(--seed-v3-unit-4)
}
.inlineBanner__root--type_link {
    padding-inline-end: var(--seed-v3-unit-1)
}
.inlineBanner__root--type_dismissible {
    padding-inline-end: var(--seed-v3-unit-1)
}
.inlineBanner__root--type_actionable {
    padding-inline-end: var(--seed-v3-unit-1);
    border: none;
    padding-block: 0;
    font: inherit
}
.inlineBanner__root--variant_neutralWeak {
    background-color: var(--seed-v3-color-bg-neutral-weak);
}
.inlineBanner__icon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__title--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__label--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__linkLabel--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__actionableIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__dismissIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.inlineBanner__linkLabel--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__xIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__chevronRightIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.inlineBanner__root--variant_positiveWeak {
    background-color: var(--seed-v3-color-bg-positive-weak);
}
.inlineBanner__icon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__title--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__label--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__linkLabel--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__actionableIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__dismissIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast);
}
.inlineBanner__linkLabel--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__xIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__chevronRightIcon--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.inlineBanner__root--variant_informativeWeak {
    background-color: var(--seed-v3-color-bg-informative-weak);
}
.inlineBanner__icon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__title--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__label--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__linkLabel--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__actionableIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__dismissIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast);
}
.inlineBanner__linkLabel--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__xIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__chevronRightIcon--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.inlineBanner__root--variant_warningWeak {
    background-color: var(--seed-v3-color-bg-warning-weak);
}
.inlineBanner__icon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__title--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__label--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__linkLabel--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__actionableIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__dismissIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__linkLabel--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__xIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__chevronRightIcon--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__root--variant_warningSolid {
    background-color: var(--seed-v3-color-bg-warning-solid);
}
.inlineBanner__icon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__title--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__label--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__linkLabel--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__actionableIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__dismissIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast);
}
.inlineBanner__linkLabel--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__xIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__chevronRightIcon--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.inlineBanner__root--variant_dangerWeak {
    position: sticky;
    top: 0;
    background-color: var(--seed-v3-color-bg-danger-weak);
}
.inlineBanner__icon--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.inlineBanner__title--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.inlineBanner__label--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.inlineBanner__linkLabel--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.inlineBanner__actionableIcon--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast);
}
.inlineBanner__linkLabel--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.inlineBanner__chevronRightIcon--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.inlineBanner__root--variant_dangerSolid {
    position: sticky;
    top: 0;
    background-color: var(--seed-v3-color-bg-danger-solid);
}
.inlineBanner__icon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.inlineBanner__title--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.inlineBanner__label--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.inlineBanner__linkLabel--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}
.inlineBanner__actionableIcon--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white);
}