.linkInlineBanner__root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--seed-v3-unit-1);
    padding-inline-end: var(--seed-v3-unit-1)
}
.linkInlineBanner__linkLabel {
    flex: none;
    height: var(--seed-v3-unit-10);
    padding-inline: var(--seed-v3-unit-3);
    font-size: var(--seed-v3-font-size-50);
    font-weight: var(--seed-v3-font-weight-regular);
    line-height: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px
}
.linkInlineBanner__linkLabel--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral)
}
.linkInlineBanner__linkLabel--variant_positiveWeak {
    color: var(--seed-v3-color-fg-positive-contrast)
}
.linkInlineBanner__linkLabel--variant_informativeWeak {
    color: var(--seed-v3-color-fg-informative-contrast)
}
.linkInlineBanner__linkLabel--variant_warningWeak {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.linkInlineBanner__linkLabel--variant_warningSolid {
    color: var(--seed-v3-color-fg-warning-contrast)
}
.linkInlineBanner__linkLabel--variant_dangerWeak {
    color: var(--seed-v3-color-fg-danger-contrast)
}
.linkInlineBanner__linkLabel--variant_dangerSolid {
    color: var(--seed-v3-color-fg-static-white)
}