.progressCircle__root {
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
}
.progressCircle__root[data-progress-state=indeterminate] {
    animation: progressCircle-rotate 1.2s cubic-bezier(0.35, 0.25, 0.65, 0.75) infinite;
}
.progressCircle__track {
    stroke: var(--track-color);
}
.progressCircle__range {
    stroke: var(--range-color);
    stroke-linecap: round;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.15, 1);
    transition-property: stroke-dasharray;
}
.progressCircle__range[data-progress-state=indeterminate] {
    animation: 
          progressCircle-headDash 1.2s cubic-bezier(0.35, 0, 0.65, 1) infinite normal none running,
          progressCircle-tailDash 1.2s cubic-bezier(0.35, 0, 0.65, 0.6) infinite normal none running
        ;
}
.progressCircle__root--tone_neutral {
    --track-color: var(--seed-color-palette-gray-200);
    --range-color: var(--seed-color-palette-gray-500);
}
.progressCircle__root--tone_brand {
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-bg-brand-solid);
}
.progressCircle__root--tone_staticWhite {
    --track-color: var(--seed-color-palette-static-white-alpha-200);
    --range-color: var(--seed-color-palette-static-white);
}
.progressCircle__root--tone_inherit {}
.progressCircle__root--size_24 {
    --size: var(--seed-dimension-x6);
    --thickness: 3px;
}
.progressCircle__root--size_40 {
    --size: var(--seed-dimension-x10);
    --thickness: 5px;
}
.progressCircle__root--size_inherit {}
@keyframes progressCircle-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes progressCircle-headDash {
    0% {
        stroke-dasharray: 0, 1000%;
    }
    75% {
        stroke-dasharray: var(--circumference), 1000%;
    }
    100% {
        stroke-dasharray: var(--circumference), 1000%;
    }
}
@keyframes progressCircle-tailDash {
    0% {
        stroke-dashoffset: 0;
    }
    33.33% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: calc(var(--circumference) * -1);
    }
}