.progressCircle__root {
    display: inline-flex;
    box-sizing: border-box;
    position: relative
}
.progressCircle__track {}
.progressCircle__range {
    stroke-linecap: round;
    transition-property: stroke-dashoffset
}
.progressCircle__track--tone_neutral {
    stroke: var(--seed-v3-color-palette-gray-200)
}
.progressCircle__range--tone_neutral {
    stroke: var(--seed-v3-color-palette-gray-500)
}
.progressCircle__track--tone_brand {
    stroke: var(--seed-v3-color-palette-carrot-200)
}
.progressCircle__range--tone_brand {
    stroke: var(--seed-v3-color-bg-brand-solid)
}
.progressCircle__track--tone_staticWhite {
    stroke: var(--seed-v3-color-palette-static-white-alpha-200)
}
.progressCircle__range--tone_staticWhite {
    stroke: var(--seed-v3-color-bg-static-white)
}
.progressCircle__root--size_24 {
    --size: var(--seed-v3-unit-s6);
    --thickness: 3px
}
.progressCircle__root--size_40 {
    --size: var(--seed-v3-unit-s10);
    --thickness: 5px
}
.progressCircle__root--indeterminate_true {
    animation: rotate 1.2s cubic-bezier(0.35, 0.25, 0.65, 0.75) infinite
}
.progressCircle__range--indeterminate_true {
    animation: 
            headDash 1.2s cubic-bezier(0.35, 0, 0.65, 1) infinite normal none running,
            tailDash 1.2s cubic-bezier(0.35, 0, 0.65, 0.6) infinite normal none running
          
}
.progressCircle__range--indeterminate_false {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.15, 1);
    transition-property: stroke-dasharray
}
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
@keyframes headDash {
    0% {
        stroke-dasharray: 0, 1000%
    }
    75% {
        stroke-dasharray: var(--circumference), 1000%
    }
    100% {
        stroke-dasharray: var(--circumference), 1000%
    }
}
@keyframes tailDash {
    0% {
        stroke-dashoffset: 0
    }
    33.33% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: calc(var(--circumference) * -1)
    }
}