.pullToRefresh__root {
    --ptr-size: 44px;
}
.pullToRefresh__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(min(calc(var(--ptr-displacement, 0) - var(--ptr-size)), 0px));
    transition: transform undefined;
}
.pullToRefresh__indicator[data-ptr-dragging] {
    transition: none;
}