.radio__root {
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--seed-v3-color-bg-layer-default);
    border-width: 1.25px;
    border-color: var(--seed-v3-color-stroke-control);
    border-radius: var(--seed-v3-radius-full);
}
.radio__root:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-layer-default-pressed);
}
.radio__root:is(:checked, [data-checked]) {
    background-color: var(--seed-v3-color-bg-brand-solid);
    border-width: 0px;
}
.radio__root:is(:active, [data-active]):is(:checked, [data-checked]) {
    background-color: var(--seed-v3-color-bg-brand-solid-pressed);
}
.radio__root:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-v3-color-palette-gray-300);
}
.radio__root:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background-color: none;
    border-color: var(--seed-v3-color-palette-gray-300);
}
.radio__icon {
    display: none;
    border-radius: var(--seed-v3-radius-full);
}
.radio__icon:is(:checked, [data-checked]) {
    display: block;
    background-color: var(--seed-v3-color-palette-static-white);
}
.radio__icon:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background-color: var(--seed-v3-color-palette-gray-300);
}
.radio__root--size_large {
    width: var(--seed-v3-dimension-s6);
    height: var(--seed-v3-dimension-s6);
}
.radio__icon--size_large {
    width: var(--seed-v3-dimension-s2_5);
    height: var(--seed-v3-dimension-s2_5);
}
.radio__icon--size_large:is(:disabled, [disabled], [data-disabled]) {
    width: var(--seed-v3-dimension-s3);
    height: var(--seed-v3-dimension-s3);
}
.radio__root--size_medium {
    width: var(--seed-v3-dimension-s5);
    height: var(--seed-v3-dimension-s5);
}
.radio__icon--size_medium {
    width: var(--seed-v3-dimension-s2);
    height: var(--seed-v3-dimension-s2);
}
.radio__icon--size_medium:is(:disabled, [disabled], [data-disabled]) {
    width: var(--seed-v3-dimension-s2_5);
    height: var(--seed-v3-dimension-s2_5);
}
.radio__root--size_small {
    width: var(--seed-v3-dimension-s4_5);
    height: var(--seed-v3-dimension-s4_5);
}
.radio__icon--size_small {
    width: var(--seed-v3-dimension-s2);
    height: var(--seed-v3-dimension-s2);
}