.radioGroup__root {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-unit-2)
}
.radioGroup__options {
    display: flex
}
.radioGroup__options--orientation_horizontal {
    flex-direction: row;
    gap: var(--seed-v3-unit-4)
}
.radioGroup__options--orientation_vertical {
    flex-direction: column
}