.reactionButton__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
}
.reactionButton__root:is(:focus, [data-focus]) {
    outline: none;
}
.reactionButton__root {
    transition: background-color var(--seed-duration-d4) var(--seed-timing-function-easing);
    background: var(--seed-color-bg-neutral-weak);
}
.reactionButton__root:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.reactionButton__root:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-color-bg-layer-default);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand);
}
.reactionButton__root:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-color-bg-layer-default-pressed);
}
.reactionButton__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background: var(--seed-color-bg-disabled);
    box-shadow: inset 0 0 0 0px var(--seed-color-stroke-brand);
}
.reactionButton__root[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.reactionButton__root:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-color-bg-layer-default-pressed);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand);
}
.reactionButton__label {
    font-weight: var(--seed-font-weight-medium);
    color: var(--seed-color-fg-neutral);
}
.reactionButton__label:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-color-fg-brand);
}
.reactionButton__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.reactionButton__label[data-loading] {
    opacity: 0;
}
.reactionButton__count {
    font-weight: var(--seed-font-weight-bold);
    color: var(--seed-color-fg-neutral);
}
.reactionButton__count:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-color-fg-brand);
}
.reactionButton__count:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.reactionButton__count[data-loading] {
    opacity: 0;
}
.reactionButton__prefixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral);
}
.reactionButton__prefixIcon:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-color-fg-brand);
}
.reactionButton__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.reactionButton__prefixIcon[data-loading] {
    opacity: 0;
}
.reactionButton__progressIndicator {
    position: absolute;
    display: none;
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.reactionButton__progressIndicator:is([aria-pressed=true], [data-pressed]) {
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-fg-brand);
}
.reactionButton__progressIndicator[data-loading] {
    display: flex;
}
.reactionButton__root--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    gap: var(--seed-dimension-x1);
    padding-inline: var(--seed-dimension-x3);
    padding-block: var(--seed-dimension-x1_5);
}
.reactionButton__label--size_xsmall {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.reactionButton__count--size_xsmall {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.reactionButton__prefixIcon--size_xsmall {
    width: 18px;
    height: 18px;
}
.reactionButton__progressIndicator--size_xsmall {
    --size: 14px;
    --thickness: 2px;
}
.reactionButton__root--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-full);
    gap: var(--seed-dimension-x1);
    padding-inline: var(--seed-dimension-x3_5);
    padding-block: var(--seed-dimension-x2);
}
.reactionButton__label--size_small {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.reactionButton__count--size_small {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.reactionButton__prefixIcon--size_small {
    width: 18px;
    height: 18px;
}
.reactionButton__progressIndicator--size_small {
    --size: 14px;
    --thickness: 2px;
}