.selectBox__root {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-unit-s3);
    width: 100%;
}
.selectBox__box {
    cursor: pointer;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--seed-v3-unit-s2_5);
    padding-inline: var(--seed-v3-unit-s4);
    padding-block: 19px;
    border-width: 1px;
    border-color: var(--seed-v3-color-stroke-neutral);
    border-radius: var(--seed-v3-radius-s3);
}
.selectBox__box:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-layer-default-pressed);
}
.selectBox__box:is(:checked, [data-checked]) {
    background-color: var(--seed-v3-color-bg-neutral-weak);
}
.selectBox__box:is(:checked, [data-checked]):is(:active, [data-active]) {
    background-color: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.selectBox__content {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-unit-x0_5);
}
.selectBox__control {
    flex: none;
    margin-block: 0;
}
.selectBox__label {
    color: var(--seed-v3-color-fg-neutral);
    font-weight: var(--seed-v3-font-weight-bold);
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.selectBox__description {
    color: var(--seed-v3-color-fg-neutral-muted);
    font-weight: var(--seed-v3-font-weight-regular);
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}