.skeleton__root {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--seed-v3-color-palette-gray-200);
}
.skeleton__root::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #ffffff00 0%, #ffffff66 46%, #ffffff66 54%, #ffffff00 100%);
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-timing-function: var(--seed-v3-timing-function-easing);
    animation-iteration-count: infinite;
}
.skeleton__root--shape_rounded {
    border-radius: var(--seed-v3-radius-s1);
}
.skeleton__root--shape_circular {
    border-radius: var(--seed-v3-radius-full);
}
.skeleton__root--shape_rectangular {
    border-radius: 0;
}
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}