.text__root {
    margin: 0;
    text-align: var(--seed-text-align);
    color: var(--seed-text-color);
    font-size: var(--seed-font-size);
    line-height: var(--seed-line-height);
    font-weight: var(--seed-font-weight);
    --seed-text-color: inherit;
    --seed-font-size: inherit;
    --seed-line-height: inherit;
    --seed-font-weight: inherit;
    --seed-text-align: inherit;
    --seed-max-lines: initial
}
.text__root--textStyle_labelSmallDefault {
    --seed-font-size: var(--seed-v3-font-size-s1);
    --seed-line-height: var(--seed-v3-line-height-s1);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_labelSmallStrong {
    --seed-font-size: var(--seed-v3-font-size-s1);
    --seed-line-height: var(--seed-v3-line-height-s1);
    --seed-font-weight: var(--seed-v3-font-weight-medium)
}
.text__root--textStyle_labelSmallStronger {
    --seed-font-size: var(--seed-v3-font-size-s1);
    --seed-line-height: var(--seed-v3-line-height-s1);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_labelMediumDefault {
    --seed-font-size: var(--seed-v3-font-size-s2);
    --seed-line-height: var(--seed-v3-line-height-s2);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_labelMediumStrong {
    --seed-font-size: var(--seed-v3-font-size-s2);
    --seed-line-height: var(--seed-v3-line-height-s2);
    --seed-font-weight: var(--seed-v3-font-weight-medium)
}
.text__root--textStyle_labelMediumStronger {
    --seed-font-size: var(--seed-v3-font-size-s2);
    --seed-line-height: var(--seed-v3-line-height-s2);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_labelLargeDefault {
    --seed-font-size: var(--seed-v3-font-size-s3);
    --seed-line-height: var(--seed-v3-line-height-s3);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_labelLargeStrong {
    --seed-font-size: var(--seed-v3-font-size-s3);
    --seed-line-height: var(--seed-v3-line-height-s3);
    --seed-font-weight: var(--seed-v3-font-weight-medium)
}
.text__root--textStyle_labelLargeStronger {
    --seed-font-size: var(--seed-v3-font-size-s3);
    --seed-line-height: var(--seed-v3-line-height-s3);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_bodySmallDefault {
    --seed-font-size: var(--seed-v3-font-size-s4);
    --seed-line-height: var(--seed-v3-line-height-s4);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_bodySmallReadingDefault {
    --seed-font-size: var(--seed-v3-font-size-s4);
    --seed-line-height: var(--seed-v3-line-height-s5);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_bodySmallStrong {
    --seed-font-size: var(--seed-v3-font-size-s4);
    --seed-line-height: var(--seed-v3-line-height-s4);
    --seed-font-weight: var(--seed-v3-font-weight-medium)
}
.text__root--textStyle_bodySmallStronger {
    --seed-font-size: var(--seed-v3-font-size-s4);
    --seed-line-height: var(--seed-v3-line-height-s4);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_bodyMediumDefault {
    --seed-font-size: var(--seed-v3-font-size-s5);
    --seed-line-height: var(--seed-v3-line-height-s5);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_bodyMediumReadingDefault {
    --seed-font-size: var(--seed-v3-font-size-s5);
    --seed-line-height: var(--seed-v3-line-height-s6);
    --seed-font-weight: var(--seed-v3-font-weight-regular)
}
.text__root--textStyle_bodyMediumStrong {
    --seed-font-size: var(--seed-v3-font-size-s5);
    --seed-line-height: var(--seed-v3-line-height-s5);
    --seed-font-weight: var(--seed-v3-font-weight-medium)
}
.text__root--textStyle_bodyMediumStronger {
    --seed-font-size: var(--seed-v3-font-size-s5);
    --seed-line-height: var(--seed-v3-line-height-s5);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_titleSmallDefault {
    --seed-font-size: var(--seed-v3-font-size-s5);
    --seed-line-height: var(--seed-v3-line-height-s5);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_titleMediumDefault {
    --seed-font-size: var(--seed-v3-font-size-s6);
    --seed-line-height: var(--seed-v3-line-height-s6);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_titleLargeDefault {
    --seed-font-size: var(--seed-v3-font-size-s7);
    --seed-line-height: var(--seed-v3-line-height-s7);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_headingSmallDefault {
    --seed-font-size: var(--seed-v3-font-size-s8);
    --seed-line-height: var(--seed-v3-line-height-s8);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_headingMediumDefault {
    --seed-font-size: var(--seed-v3-font-size-s9);
    --seed-line-height: var(--seed-v3-line-height-s9);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--textStyle_headingLargeDefault {
    --seed-font-size: var(--seed-v3-font-size-s10);
    --seed-line-height: var(--seed-v3-line-height-s10);
    --seed-font-weight: var(--seed-v3-font-weight-bold)
}
.text__root--maxLines_none {
    display: unset;
    overflow: unset;
    min-width: unset;
    text-overflow: unset;
    white-space: unset;
    -webkit-line-clamp: unset
}
.text__root--maxLines_single {
    display: block;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: var(--seed-max-lines)
}
.text__root--maxLines_multi {
    display: -webkit-box;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--seed-max-lines)
}