.textButton__root {
    display: inline-flex;
    align-items: center;
    padding-block: var(--seed-v3-unit-s0_5);
    padding-inline: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-width: 0.125rem;
    border-color: transparent;
    border-style: solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.textButton__root:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
    cursor: not-allowed;
}
.textButton__root:is(:active, [data-active]) {
    background-color: var(--seed-v3-color-palette-gray-200);
    border-color: var(--seed-v3-color-palette-gray-200);
}
.textButton__root:is(:disabled, [disabled], [data-disabled]):is(:active, [data-active]) {
    background-color: transparent;
    border-color: transparent;
}
.textButton__label {
    text-align: center;
    font-weight: var(--seed-v3-font-weight-regular);
}
.textButton__prefixIcon {
    margin-inline-end: var(--seed-v3-unit-s1);
}
.textButton__suffixIcon {
    margin-inline-start: var(--seed-v3-unit-s0_5);
}
.textButton__root--tone_brand {
    color: var(--seed-v3-color-fg-brand);
}
.textButton__root--tone_neutral {
    color: var(--seed-v3-color-fg-neutral);
}
.textButton__root--tone_neutralSubtle {
    color: var(--seed-v3-color-fg-neutral-subtle);
}
.textButton__root--tone_danger {
    color: var(--seed-v3-color-fg-danger);
}
.textButton__root--size_large {
    min-height: 2rem;
    border-radius: var(--seed-v3-radius-s1_5);
}
.textButton__prefixIcon--size_large {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.textButton__suffixIcon--size_large {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.textButton__label--size_large {
    font-size: var(--seed-v3-font-size-s6);
    line-height: var(--seed-v3-line-height-s6);
}
.textButton__root--size_medium {
    min-height: 1.875rem;
    border-radius: var(--seed-v3-radius-s1_5);
}
.textButton__prefixIcon--size_medium {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.textButton__suffixIcon--size_medium {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.textButton__label--size_medium {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textButton__root--size_small {
    min-height: 1.75rem;
    border-radius: var(--seed-v3-radius-s1);
}
.textButton__prefixIcon--size_small {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.textButton__suffixIcon--size_small {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
}
.textButton__label--size_small {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}