.seed-text-button__root {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
    padding-inline: 0;
    padding-block: var(--seed-dimension-x0_5);
}
.seed-text-button__root:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
    cursor: not-allowed;
}
.seed-text-button__root:is(:active, [data-active]) {
    background-color: var(--seed-color-palette-gray-200);
    box-shadow: 0 0 0 2px var(--seed-color-palette-gray-200);
}
.seed-text-button__root:is(:disabled, [disabled], [data-disabled]):is(:active, [data-active]) {
    background-color: transparent;
    border-color: transparent;
}
.seed-text-button__label {
    text-align: center;
    font-weight: var(--seed-font-weight-regular);
}
.seed-text-button__prefixIcon {
    margin-inline-end: var(--seed-dimension-x1);
}
.seed-text-button__suffixIcon {
    margin-inline-start: var(--seed-dimension-x0_5);
}
.seed-text-button__root--tone_brand {
    color: var(--seed-color-fg-brand);
}
.seed-text-button__root--tone_neutral {
    color: var(--seed-color-fg-neutral);
}
.seed-text-button__root--tone_neutralSubtle {
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-text-button__root--tone_critical {
    color: var(--seed-color-fg-critical);
}
.seed-text-button__root--size_large {
    min-height: 2rem;
    border-radius: var(--seed-radius-r1_5);
}
.seed-text-button__prefixIcon--size_large {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-text-button__suffixIcon--size_large {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-text-button__label--size_large {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-text-button__root--size_medium {
    min-height: 1.875rem;
    border-radius: var(--seed-radius-r1_5);
}
.seed-text-button__prefixIcon--size_medium {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-text-button__suffixIcon--size_medium {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-text-button__label--size_medium {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-button__root--size_small {
    min-height: 1.75rem;
    border-radius: var(--seed-radius-r1);
}
.seed-text-button__prefixIcon--size_small {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-text-button__suffixIcon--size_small {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
}
.seed-text-button__label--size_small {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}