.textField__root {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.textField__header {}
.textField__label {
    color: var(--seed-v3-color-fg-neutral);
    font-weight: var(--seed-v3-font-weight-bold);
}
.textField__indicator {
    color: var(--seed-v3-color-fg-neutral);
    font-weight: var(--seed-v3-font-weight-regular);
}
.textField__field {
    display: flex;
    align-items: center;
    background-color: var(--seed-v3-color-bg-layer-default);
    border-style: solid;
    border-width: 1px;
    border-color: var(--seed-v3-color-stroke-field);
}
.textField__field:not(:is([data-readonly])):is(:focus, [data-focus]) {
    border-color: var(--seed-v3-color-stroke-field-focused);
}
.textField__field:is(:invalid, [data-invalid]) {
    background-color: var(--seed-v3-color-bg-danger-weak);
    border-color: var(--seed-v3-color-stroke-danger);
}
.textField__field:is(:invalid, [data-invalid]):is(:focus, [data-focus]) {
    background-color: var(--seed-v3-color-bg-layer-default);
}
.textField__field:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-v3-color-bg-disabled);
}
.textField__field:is([data-readonly]) {
    background-color: var(--seed-v3-color-bg-disabled);
}
.textField__prefixText {
    color: var(--seed-v3-color-fg-neutral);
}
.textField__prefixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__prefixIcon {
    color: var(--seed-v3-color-fg-neutral);
    flex-shrink: 0;
}
.textField__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__suffixText {
    color: var(--seed-v3-color-fg-neutral);
}
.textField__suffixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__suffixIcon {
    color: var(--seed-v3-color-fg-neutral);
    flex-shrink: 0;
}
.textField__suffixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__value {
    box-sizing: border-box;
    font: inherit;
}
.textField__value:is(input) {
    padding-inline: 0;
}
.textField__value:is(textarea) {
    min-height: 90px;
    width: 100%;
}
.textField__value {
    background: none;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    height: 100%;
    color: var(--seed-v3-color-fg-neutral);
}
.textField__value::placeholder {
    color: var(--seed-v3-color-fg-placeholder);
}
.textField__value:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__value:is(:disabled, [disabled], [data-disabled])::placeholder {
    color: var(--seed-v3-color-fg-disabled);
}
.textField__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.textField__description {
    font-weight: var(--seed-v3-font-weight-regular);
    color: var(--seed-v3-color-fg-neutral-subtle);
}
.textField__errorMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--seed-v3-color-fg-danger);
}
.textField__errorIcon {
    flex: none;
    flex-shrink: 0;
}
.textField__characterCountArea {
    display: flex;
    flex: none;
    margin-inline-start: auto;
}
.textField__characterCount {
    color: var(--seed-v3-color-fg-neutral);
    font-weight: var(--seed-v3-font-weight-regular);
}
.textField__characterCount[data-empty] {
    color: var(--seed-v3-color-fg-neutral-subtle);
}
.textField__maxCharacterCount {
    color: var(--seed-v3-color-fg-neutral-subtle);
    font-weight: var(--seed-v3-font-weight-regular);
}
.textField__header--size_xlarge {
    padding-bottom: var(--seed-v3-unit-s3);
    gap: var(--seed-v3-unit-s1_5);
}
.textField__label--size_xlarge {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__indicator--size_xlarge {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__field--size_xlarge {
    min-height: 56px;
    border-radius: var(--seed-v3-radius-s2_5);
    gap: var(--seed-v3-unit-s2);
    padding-inline: var(--seed-v3-unit-s4);
}
.textField__value--size_xlarge {
    padding-block: var(--seed-v3-unit-s3);
    font-size: var(--seed-v3-font-size-s6);
    line-height: var(--seed-v3-line-height-s6);
}
.textField__prefixText--size_xlarge {
    font-size: var(--seed-v3-font-size-s6);
    line-height: var(--seed-v3-line-height-s6);
}
.textField__prefixIcon--size_xlarge {
    width: var(--seed-v3-unit-s5);
    height: var(--seed-v3-unit-s5);
}
.textField__suffixText--size_xlarge {
    font-size: var(--seed-v3-font-size-s6);
    line-height: var(--seed-v3-line-height-s6);
}
.textField__suffixIcon--size_xlarge {
    width: var(--seed-v3-unit-s5);
    height: var(--seed-v3-unit-s5);
}
.textField__footer--size_xlarge {
    gap: var(--seed-v3-unit-s3_5);
    padding-top: var(--seed-v3-unit-s2);
    min-height: 20px;
}
.textField__description--size_xlarge {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__errorMessage--size_xlarge {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__errorIcon--size_xlarge {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
    margin-right: var(--seed-v3-unit-s1);
}
.textField__characterCount--size_xlarge {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__maxCharacterCount--size_xlarge {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__header--size_large {
    padding-bottom: var(--seed-v3-unit-s3);
    gap: var(--seed-v3-unit-s1_5);
}
.textField__label--size_large {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__indicator--size_large {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__field--size_large {
    min-height: 52px;
    border-radius: var(--seed-v3-radius-s2_5);
    gap: var(--seed-v3-unit-s2);
    padding-inline: var(--seed-v3-unit-s4);
}
.textField__value--size_large {
    padding-block: var(--seed-v3-unit-s3);
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__prefixText--size_large {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__prefixIcon--size_large {
    width: var(--seed-v3-unit-s5);
    height: var(--seed-v3-unit-s5);
}
.textField__suffixText--size_large {
    font-size: var(--seed-v3-font-size-s5);
    line-height: var(--seed-v3-line-height-s5);
}
.textField__suffixIcon--size_large {
    width: var(--seed-v3-unit-s5);
    height: var(--seed-v3-unit-s5);
}
.textField__footer--size_large {
    gap: var(--seed-v3-unit-s3_5);
    padding-top: var(--seed-v3-unit-s2);
    min-height: 20px;
}
.textField__description--size_large {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__errorMessage--size_large {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__errorIcon--size_large {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
    margin-right: var(--seed-v3-unit-s1);
}
.textField__characterCount--size_large {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__maxCharacterCount--size_large {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__header--size_medium {
    padding-bottom: var(--seed-v3-unit-s3);
}
.textField__label--size_medium {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__indicator--size_medium {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__field--size_medium {
    min-height: 40px;
    border-radius: var(--seed-v3-radius-s2);
    gap: var(--seed-v3-unit-s1_5);
    padding-inline: var(--seed-v3-unit-s3_5);
}
.textField__value--size_medium {
    padding-block: var(--seed-v3-unit-s2_5);
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__prefixText--size_medium {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__prefixIcon--size_medium {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.textField__suffixText--size_medium {
    font-size: var(--seed-v3-font-size-s4);
    line-height: var(--seed-v3-line-height-s4);
}
.textField__suffixIcon--size_medium {
    width: var(--seed-v3-unit-s4);
    height: var(--seed-v3-unit-s4);
}
.textField__footer--size_medium {
    gap: var(--seed-v3-unit-s3_5);
    padding-top: var(--seed-v3-unit-s2);
    min-height: var(--seed-v3-unit-s4);
}
.textField__description--size_medium {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__errorMessage--size_medium {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__errorIcon--size_medium {
    width: var(--seed-v3-unit-s3_5);
    height: var(--seed-v3-unit-s3_5);
    margin-right: var(--seed-v3-unit-s1);
}
.textField__characterCount--size_medium {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}
.textField__maxCharacterCount--size_medium {
    font-size: var(--seed-v3-font-size-s2);
    line-height: var(--seed-v3-line-height-s2);
}