.toggleButton__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    font-family: inherit;
    flex-shrink: 0;
}
.toggleButton__root:is(:focus, [data-focus]) {
    outline: none;
}
.toggleButton__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.toggleButton__root {
    transition: background-color var(--seed-v3-duration-s4) var(--seed-v3-timing-function-easing);
}
.toggleButton__label {
    font-weight: var(--seed-v3-font-weight-bold);
}
.toggleButton__label[data-loading] {
    opacity: 0;
}
.toggleButton__prefixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.toggleButton__prefixIcon[data-loading] {
    opacity: 0;
}
.toggleButton__suffixIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.toggleButton__suffixIcon[data-loading] {
    opacity: 0;
}
.toggleButton__progressIndicator {
    position: absolute;
    display: none;
}
.toggleButton__progressIndicator[data-loading] {
    display: flex;
}
.toggleButton__root--variant_brandSolid {
    background: var(--seed-v3-color-bg-brand-solid);
}
.toggleButton__root--variant_brandSolid:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-brand-solid-pressed);
}
.toggleButton__root--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-v3-color-bg-neutral-weak);
}
.toggleButton__root--variant_brandSolid:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__root--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.toggleButton__root--variant_brandSolid[data-loading] {
    background: var(--seed-v3-color-bg-brand-solid-pressed);
}
.toggleButton__root--variant_brandSolid:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__label--variant_brandSolid {
    color: var(--seed-v3-color-palette-static-white);
}
.toggleButton__label--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__label--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__prefixIcon--variant_brandSolid {
    color: var(--seed-v3-color-palette-static-white);
}
.toggleButton__prefixIcon--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__prefixIcon--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__suffixIcon--variant_brandSolid {
    color: var(--seed-v3-color-palette-static-white);
}
.toggleButton__suffixIcon--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__suffixIcon--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__progressIndicator--variant_brandSolid {
    --track-color: var(--seed-v3-color-palette-static-white-alpha-200);
    --range-color: var(--seed-v3-color-palette-static-white);
}
.toggleButton__progressIndicator--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    --track-color: var(--seed-v3-color-palette-gray-500);
    --range-color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__root--variant_neutralWeak {
    background: var(--seed-v3-color-bg-neutral-weak);
}
.toggleButton__root--variant_neutralWeak:is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__root--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-v3-color-bg-neutral-weak);
}
.toggleButton__root--variant_neutralWeak:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__root--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.toggleButton__root--variant_neutralWeak[data-loading] {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__root--variant_neutralWeak:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-v3-color-bg-neutral-weak-pressed);
}
.toggleButton__label--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__label--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__label--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__prefixIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__prefixIcon--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__prefixIcon--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__suffixIcon--variant_neutralWeak {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__suffixIcon--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__suffixIcon--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-v3-color-fg-disabled);
}
.toggleButton__progressIndicator--variant_neutralWeak {
    --track-color: var(--seed-v3-color-palette-gray-500);
    --range-color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__progressIndicator--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    --track-color: var(--seed-v3-color-palette-gray-500);
    --range-color: var(--seed-v3-color-fg-neutral);
}
.toggleButton__root--size_xsmall {
    height: var(--seed-v3-dimension-s8);
    border-radius: var(--seed-v3-radius-full);
    gap: var(--seed-v3-dimension-s1);
    padding-inline: var(--seed-v3-dimension-s3_5);
    padding-block: var(--seed-v3-dimension-s1_5);
}
.toggleButton__label--size_xsmall {
    font-size: var(--seed-v3-font-size-s4);
}
.toggleButton__prefixIcon--size_xsmall {
    width: var(--seed-v3-dimension-s3_5);
    height: var(--seed-v3-dimension-s3_5);
}
.toggleButton__suffixIcon--size_xsmall {
    width: var(--seed-v3-dimension-s3_5);
    height: var(--seed-v3-dimension-s3_5);
}
.toggleButton__progressIndicator--size_xsmall {
    --size: 14px;
    --thickness: 2px;
}
.toggleButton__root--size_small {
    height: var(--seed-v3-dimension-s9);
    border-radius: var(--seed-v3-radius-full);
    gap: var(--seed-v3-dimension-s1);
    padding-inline: var(--seed-v3-dimension-s4);
    padding-block: var(--seed-v3-dimension-s2);
}
.toggleButton__label--size_small {
    font-size: var(--seed-v3-font-size-s4);
}
.toggleButton__prefixIcon--size_small {
    width: var(--seed-v3-dimension-s3_5);
    height: var(--seed-v3-dimension-s3_5);
}
.toggleButton__suffixIcon--size_small {
    width: var(--seed-v3-dimension-s3_5);
    height: var(--seed-v3-dimension-s3_5);
}
.toggleButton__progressIndicator--size_small {
    --size: 14px;
    --thickness: 2px;
}