:root[data-seed] {
  color-scheme: light dark;
}

:root[data-seed="light-only"] {
  color-scheme: light;
}

:root[data-seed="dark-only"] {
  color-scheme: dark;
}

:root[data-seed] {
  --seed-v3-duration-s1: 50ms;
  --seed-v3-duration-s2: 100ms;
  --seed-v3-duration-s3: 150ms;
  --seed-v3-duration-s4: 200ms;
  --seed-v3-duration-s5: 250ms;
  --seed-v3-duration-s6: 300ms;
  --seed-v3-font-size-s1: 0.6875rem;
  --seed-v3-font-size-s2: 0.75rem;
  --seed-v3-font-size-s3: 0.8125rem;
  --seed-v3-font-size-s4: 0.875rem;
  --seed-v3-font-size-s5: 1rem;
  --seed-v3-font-size-s6: 1.125rem;
  --seed-v3-font-size-s7: 1.25rem;
  --seed-v3-font-size-s8: 1.375rem;
  --seed-v3-font-size-s9: 1.5rem;
  --seed-v3-font-size-s10: 1.625rem;
  --seed-v3-font-weight-regular: 400;
  --seed-v3-font-weight-medium: 500;
  --seed-v3-font-weight-bold: 700;
  --seed-v3-line-height-s1: 0.8125rem;
  --seed-v3-line-height-s2: 1rem;
  --seed-v3-line-height-s3: 1.125rem;
  --seed-v3-line-height-s4: 1.1875rem;
  --seed-v3-line-height-s5: 1.3125rem;
  --seed-v3-line-height-s6: 1.5rem;
  --seed-v3-line-height-s7: 1.5625rem;
  --seed-v3-line-height-s8: 1.875rem;
  --seed-v3-line-height-s9: 2rem;
  --seed-v3-line-height-s10: 2.125rem;
  --seed-v3-radius-x0_5: 2px;
  --seed-v3-radius-s1: 4px;
  --seed-v3-radius-s1_5: 6px;
  --seed-v3-radius-s2: 8px;
  --seed-v3-radius-s2_5: 10px;
  --seed-v3-radius-s3: 12px;
  --seed-v3-radius-s3_5: 14px;
  --seed-v3-radius-s4: 16px;
  --seed-v3-radius-s5: 20px;
  --seed-v3-radius-s6: 24px;
  --seed-v3-radius-full: 9999px;
  --seed-v3-timing-function-linear: cubic-bezier(0, 0, 1, 1);
  --seed-v3-timing-function-easing: cubic-bezier(0.35, 0, 0.35, 1);
  --seed-v3-timing-function-enter: cubic-bezier(0, 0, 0.15, 1);
  --seed-v3-timing-function-exit: cubic-bezier(0.35, 0, 1, 1);
  --seed-v3-timing-function-enter-expressive: cubic-bezier(0.03, 0.4, 0.1, 1);
  --seed-v3-timing-function-exit-expressive: cubic-bezier(0.35, 0, 0.95, 0.55);
  --seed-v3-unit-x0_5: 2px;
  --seed-v3-unit-s1: 4px;
  --seed-v3-unit-s1_5: 6px;
  --seed-v3-unit-s2: 8px;
  --seed-v3-unit-s2_5: 10px;
  --seed-v3-unit-s3: 12px;
  --seed-v3-unit-s3_5: 14px;
  --seed-v3-unit-s4: 16px;
  --seed-v3-unit-s4_5: 18px;
  --seed-v3-unit-s5: 20px;
  --seed-v3-unit-s6: 24px;
  --seed-v3-unit-s7: 28px;
  --seed-v3-unit-s8: 32px;
  --seed-v3-unit-s9: 36px;
  --seed-v3-unit-s10: 40px;
  --seed-v3-unit-s12: 48px;
  --seed-v3-unit-s13: 52px;
  --seed-v3-unit-s14: 56px;
  --seed-v3-unit-s16: 64px;
  --seed-v3-horizontal-spacing-between-chips: var(--seed-v3-unit-s2);
  --seed-v3-horizontal-spacing-global-gutter: var(--seed-v3-unit-s4);
}

:root[data-seed][data-seed="light-only"][data-seed-scale-color="dark"],
:root[data-seed][data-seed-scale-color="light"]:not([data-seed="dark-only"]),
:root[data-seed]:not([data-seed="dark-only"]) [data-seed-scale-color="light"] {
  --seed-v3-color-palette-gray-00: #ffffff;
  --seed-v3-color-palette-gray-100: #f7f8f9;
  --seed-v3-color-palette-gray-200: #f3f4f5;
  --seed-v3-color-palette-gray-300: #eeeff1;
  --seed-v3-color-palette-gray-400: #dcdee3;
  --seed-v3-color-palette-gray-500: #d1d3d8;
  --seed-v3-color-palette-gray-600: #b0b3ba;
  --seed-v3-color-palette-gray-700: #868b94;
  --seed-v3-color-palette-gray-800: #586070;
  --seed-v3-color-palette-gray-900: #1a1c20;
  --seed-v3-color-palette-carrot-100: #fff2ec;
  --seed-v3-color-palette-carrot-200: #ffe8db;
  --seed-v3-color-palette-carrot-300: #ffd5c0;
  --seed-v3-color-palette-carrot-400: #ffb999;
  --seed-v3-color-palette-carrot-500: #ff9364;
  --seed-v3-color-palette-carrot-600: #ff6600;
  --seed-v3-color-palette-carrot-700: #e84500;
  --seed-v3-color-palette-carrot-800: #b93901;
  --seed-v3-color-palette-carrot-900: #862b00;
  --seed-v3-color-palette-carrot-1000: #471601;
  --seed-v3-color-palette-blue-100: #eff6ff;
  --seed-v3-color-palette-blue-200: #e2edfc;
  --seed-v3-color-palette-blue-300: #cbdffa;
  --seed-v3-color-palette-blue-400: #abcefd;
  --seed-v3-color-palette-blue-500: #83b7fd;
  --seed-v3-color-palette-blue-600: #2787fe;
  --seed-v3-color-palette-blue-700: #1a6edf;
  --seed-v3-color-palette-blue-800: #1056bb;
  --seed-v3-color-palette-blue-900: #083b81;
  --seed-v3-color-palette-blue-1000: #02214a;
  --seed-v3-color-palette-red-100: #fdf2f2;
  --seed-v3-color-palette-red-200: #fde4e4;
  --seed-v3-color-palette-red-300: #fececc;
  --seed-v3-color-palette-red-400: #feafaa;
  --seed-v3-color-palette-red-500: #fe827b;
  --seed-v3-color-palette-red-600: #ff3b2d;
  --seed-v3-color-palette-red-700: #ef1f10;
  --seed-v3-color-palette-red-800: #c81d13;
  --seed-v3-color-palette-red-900: #8f1e10;
  --seed-v3-color-palette-red-1000: #4a1209;
  --seed-v3-color-palette-green-100: #e7f9f3;
  --seed-v3-color-palette-green-200: #d1f4e5;
  --seed-v3-color-palette-green-300: #8ff1c3;
  --seed-v3-color-palette-green-400: #6be1b0;
  --seed-v3-color-palette-green-500: #2ecd95;
  --seed-v3-color-palette-green-600: #10ad7e;
  --seed-v3-color-palette-green-700: #068c6d;
  --seed-v3-color-palette-green-800: #006b58;
  --seed-v3-color-palette-green-900: #054a3d;
  --seed-v3-color-palette-green-1000: #0a2b24;
  --seed-v3-color-palette-yellow-100: #fff9e6;
  --seed-v3-color-palette-yellow-200: #fdf3ce;
  --seed-v3-color-palette-yellow-300: #fbe49a;
  --seed-v3-color-palette-yellow-400: #f7d24c;
  --seed-v3-color-palette-yellow-500: #e3b82c;
  --seed-v3-color-palette-yellow-600: #c49725;
  --seed-v3-color-palette-yellow-700: #9b7821;
  --seed-v3-color-palette-yellow-800: #755b22;
  --seed-v3-color-palette-yellow-900: #4f3e1f;
  --seed-v3-color-palette-yellow-1000: #2c2512;
  --seed-v3-color-palette-static-black: #000000;
  --seed-v3-color-palette-static-white: #ffffff;
  --seed-v3-color-palette-static-black-alpha-200: #00000033;
  --seed-v3-color-palette-static-black-alpha-500: #00000080;
  --seed-v3-color-palette-static-black-alpha-50: #0000000d;
  --seed-v3-color-palette-purple-100: #f6f4fe;
  --seed-v3-color-palette-purple-200: #efeafe;
  --seed-v3-color-palette-purple-300: #e1d8ff;
  --seed-v3-color-palette-purple-400: #d2c3ff;
  --seed-v3-color-palette-purple-500: #bda8ff;
  --seed-v3-color-palette-purple-600: #a186fb;
  --seed-v3-color-palette-purple-700: #8564e9;
  --seed-v3-color-palette-purple-800: #6646c6;
  --seed-v3-color-palette-purple-900: #46308a;
  --seed-v3-color-palette-purple-1000: #29175d;
  --seed-v3-color-palette-static-white-alpha-800: #ffffffcc;
  --seed-v3-color-palette-slate-900: #2a3038;
  --seed-v3-color-palette-slate-800: #545c6e;
  --seed-v3-color-palette-static-white-alpha-200: #ffffff33;
  --seed-v3-color-fg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-fg-neutral: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-fg-neutral-muted: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-fg-neutral-subtle: var(--seed-v3-color-palette-gray-700);
  --seed-v3-color-fg-neutral-inverted: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-fg-brand-contrast: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-fg-danger: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-fg-danger-contrast: var(--seed-v3-color-palette-red-900);
  --seed-v3-color-fg-positive: var(--seed-v3-color-palette-green-700);
  --seed-v3-color-fg-positive-contrast: var(--seed-v3-color-palette-green-900);
  --seed-v3-color-fg-warning-contrast: var(--seed-v3-color-palette-yellow-900);
  --seed-v3-color-fg-informative: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-fg-informative-contrast: var(--seed-v3-color-palette-blue-900);
  --seed-v3-color-fg-placeholder: var(--seed-v3-color-palette-gray-600);
  --seed-v3-color-fg-disabled: var(--seed-v3-color-palette-gray-500);
  --seed-v3-color-fg-static-black: var(--seed-v3-color-palette-static-black);
  --seed-v3-color-fg-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-fg-magic: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-fg-magic-contrast: var(--seed-v3-color-palette-purple-900);
  --seed-v3-color-bg-positive-weak: var(--seed-v3-color-palette-green-100);
  --seed-v3-color-bg-positive-solid: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-bg-warning-solid: var(--seed-v3-color-palette-yellow-400);
  --seed-v3-color-bg-warning-weak: var(--seed-v3-color-palette-yellow-100);
  --seed-v3-color-bg-danger-weak: var(--seed-v3-color-palette-red-100);
  --seed-v3-color-bg-danger-solid: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-bg-danger-solid-pressed: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-bg-brand-weak: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-brand-solid: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-bg-brand-solid-pressed: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-bg-brand-weak-pressed: var(--seed-v3-color-palette-carrot-200);
  --seed-v3-color-bg-layer-default: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-layer-default-pressed: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-fill: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-neutral-weak: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-neutral-solid: var(--seed-v3-color-palette-slate-900);
  --seed-v3-color-bg-neutral-weak-pressed: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-informative-weak: var(--seed-v3-color-palette-blue-100);
  --seed-v3-color-bg-overlay: var(--seed-v3-color-palette-static-black-alpha-500);
  --seed-v3-color-bg-overlay-muted: var(--seed-v3-color-palette-static-black-alpha-200);
  --seed-v3-color-bg-text-selection: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-layer-basement: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-floating: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-neutral-solid-pressed: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-bg-disabled: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-floating-pressed: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-informative-weak-pressed: var(--seed-v3-color-palette-blue-200);
  --seed-v3-color-bg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-bg-warning-weak-pressed: var(--seed-v3-color-palette-yellow-200);
  --seed-v3-color-bg-danger-weak-pressed: var(--seed-v3-color-palette-red-200);
  --seed-v3-color-bg-informative-solid: var(--seed-v3-color-palette-blue-600);
  --seed-v3-color-bg-positive-weak-pressed: var(--seed-v3-color-palette-green-200);
  --seed-v3-color-bg-informative-solid-pressed: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-bg-positive-solid-pressed: var(--seed-v3-color-palette-green-700);
  --seed-v3-color-bg-magic-solid: var(--seed-v3-color-palette-purple-600);
  --seed-v3-color-bg-magic-solid-pressed: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-bg-magic-weak: var(--seed-v3-color-palette-purple-100);
  --seed-v3-color-bg-magic-weak-pressed: var(--seed-v3-color-palette-purple-200);
  --seed-v3-color-bg-neutral-solid-muted: var(--seed-v3-color-palette-slate-800);
  --seed-v3-color-bg-floating-solid: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-bg-neutral-solid-muted-pressed: var(--seed-v3-color-palette-slate-900);
  --seed-v3-color-stroke-neutral: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-stroke-brand: var(--seed-v3-color-palette-carrot-500);
  --seed-v3-color-stroke-field: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-field-focused: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-stroke-control: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-neutral-muted: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-stroke-danger: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-stroke-positive: var(--seed-v3-color-palette-green-600);
}

:root[data-seed][data-seed="dark-only"][data-seed-scale-color="light"],
:root[data-seed][data-seed-scale-color="dark"]:not([data-seed="light-only"]),
:root[data-seed]:not([data-seed="light-only"]) [data-seed-scale-color="dark"] {
  --seed-v3-color-palette-gray-00: #121212;
  --seed-v3-color-palette-gray-100: #1a1c20;
  --seed-v3-color-palette-gray-200: #25272c;
  --seed-v3-color-palette-gray-300: #2c2e34;
  --seed-v3-color-palette-gray-400: #3e4145;
  --seed-v3-color-palette-gray-500: #5b606a;
  --seed-v3-color-palette-gray-600: #868b94;
  --seed-v3-color-palette-gray-700: #b0b3ba;
  --seed-v3-color-palette-gray-800: #dcdee3;
  --seed-v3-color-palette-gray-900: #f3f4f5;
  --seed-v3-color-palette-carrot-100: #31241f;
  --seed-v3-color-palette-carrot-200: #4b291c;
  --seed-v3-color-palette-carrot-300: #6b311c;
  --seed-v3-color-palette-carrot-400: #822f00;
  --seed-v3-color-palette-carrot-500: #c44501;
  --seed-v3-color-palette-carrot-600: #f75900;
  --seed-v3-color-palette-carrot-700: #ff6600;
  --seed-v3-color-palette-carrot-800: #ff9e65;
  --seed-v3-color-palette-carrot-900: #eecebc;
  --seed-v3-color-palette-carrot-1000: #f4eeea;
  --seed-v3-color-palette-blue-100: #1c2633;
  --seed-v3-color-palette-blue-200: #223444;
  --seed-v3-color-palette-blue-300: #184564;
  --seed-v3-color-palette-blue-400: #035a87;
  --seed-v3-color-palette-blue-500: #126eae;
  --seed-v3-color-palette-blue-600: #1889cb;
  --seed-v3-color-palette-blue-700: #2ca5f1;
  --seed-v3-color-palette-blue-800: #7bbdf9;
  --seed-v3-color-palette-blue-900: #b8d7fb;
  --seed-v3-color-palette-blue-1000: #e5f0fe;
  --seed-v3-color-palette-red-100: #322323;
  --seed-v3-color-palette-red-200: #4f2624;
  --seed-v3-color-palette-red-300: #742826;
  --seed-v3-color-palette-red-400: #a12621;
  --seed-v3-color-palette-red-500: #d11e13;
  --seed-v3-color-palette-red-600: #f73526;
  --seed-v3-color-palette-red-700: #f2796d;
  --seed-v3-color-palette-red-800: #f1a39b;
  --seed-v3-color-palette-red-900: #f2cbc9;
  --seed-v3-color-palette-red-1000: #f3cbc8;
  --seed-v3-color-palette-green-100: #202926;
  --seed-v3-color-palette-green-200: #20362e;
  --seed-v3-color-palette-green-300: #20493b;
  --seed-v3-color-palette-green-400: #19604c;
  --seed-v3-color-palette-green-500: #117956;
  --seed-v3-color-palette-green-600: #1b946d;
  --seed-v3-color-palette-green-700: #22b27f;
  --seed-v3-color-palette-green-800: #35ce9a;
  --seed-v3-color-palette-green-900: #93e5c0;
  --seed-v3-color-palette-green-1000: #d4f6ef;
  --seed-v3-color-palette-yellow-100: #2a2517;
  --seed-v3-color-palette-yellow-200: #3d3016;
  --seed-v3-color-palette-yellow-300: #513f15;
  --seed-v3-color-palette-yellow-400: #695115;
  --seed-v3-color-palette-yellow-500: #83661b;
  --seed-v3-color-palette-yellow-600: #9c7f25;
  --seed-v3-color-palette-yellow-700: #b59b36;
  --seed-v3-color-palette-yellow-800: #cdb656;
  --seed-v3-color-palette-yellow-900: #e3da96;
  --seed-v3-color-palette-yellow-1000: #f7f0ce;
  --seed-v3-color-palette-static-black: #000000;
  --seed-v3-color-palette-static-white: #ffffff;
  --seed-v3-color-palette-static-black-alpha-200: #00000033;
  --seed-v3-color-palette-static-black-alpha-500: #00000080;
  --seed-v3-color-palette-static-black-alpha-50: #0000000d;
  --seed-v3-color-palette-purple-100: #322065;
  --seed-v3-color-palette-purple-200: #3b2873;
  --seed-v3-color-palette-purple-300: #443081;
  --seed-v3-color-palette-purple-400: #5a3bb1;
  --seed-v3-color-palette-purple-500: #764fd9;
  --seed-v3-color-palette-purple-600: #8e6bee;
  --seed-v3-color-palette-purple-700: #a78df0;
  --seed-v3-color-palette-purple-800: #beadf2;
  --seed-v3-color-palette-purple-900: #d9cefa;
  --seed-v3-color-palette-purple-1000: #f0edfc;
  --seed-v3-color-palette-static-white-alpha-800: #ffffffcc;
  --seed-v3-color-palette-slate-900: #edf2f7;
  --seed-v3-color-palette-slate-800: #dde3ed;
  --seed-v3-color-palette-static-white-alpha-200: #ffffff33;
  --seed-v3-color-fg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-fg-neutral: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-fg-neutral-muted: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-fg-neutral-subtle: var(--seed-v3-color-palette-gray-700);
  --seed-v3-color-fg-neutral-inverted: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-fg-brand-contrast: var(--seed-v3-color-palette-carrot-1000);
  --seed-v3-color-fg-danger: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-fg-danger-contrast: var(--seed-v3-color-palette-red-900);
  --seed-v3-color-fg-positive: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-fg-positive-contrast: var(--seed-v3-color-palette-green-900);
  --seed-v3-color-fg-warning-contrast: var(--seed-v3-color-palette-yellow-900);
  --seed-v3-color-fg-informative: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-fg-informative-contrast: var(--seed-v3-color-palette-blue-900);
  --seed-v3-color-fg-placeholder: var(--seed-v3-color-palette-gray-600);
  --seed-v3-color-fg-disabled: var(--seed-v3-color-palette-gray-500);
  --seed-v3-color-fg-static-black: var(--seed-v3-color-palette-static-black);
  --seed-v3-color-fg-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-fg-magic: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-fg-magic-contrast: var(--seed-v3-color-palette-purple-900);
  --seed-v3-color-bg-positive-weak: var(--seed-v3-color-palette-green-100);
  --seed-v3-color-bg-positive-solid: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-bg-warning-solid: var(--seed-v3-color-palette-yellow-700);
  --seed-v3-color-bg-warning-weak: var(--seed-v3-color-palette-yellow-100);
  --seed-v3-color-bg-danger-weak: var(--seed-v3-color-palette-red-100);
  --seed-v3-color-bg-danger-solid: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-bg-danger-solid-pressed: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-bg-brand-weak: var(--seed-v3-color-palette-carrot-200);
  --seed-v3-color-bg-brand-solid: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-bg-brand-solid-pressed: var(--seed-v3-color-palette-carrot-800);
  --seed-v3-color-bg-brand-weak-pressed: var(--seed-v3-color-palette-carrot-300);
  --seed-v3-color-bg-layer-default: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-layer-default-pressed: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-fill: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-neutral-weak: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-neutral-solid: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-bg-neutral-weak-pressed: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-bg-informative-weak: var(--seed-v3-color-palette-blue-100);
  --seed-v3-color-bg-overlay: var(--seed-v3-color-palette-static-black-alpha-500);
  --seed-v3-color-bg-overlay-muted: var(--seed-v3-color-palette-static-black-alpha-200);
  --seed-v3-color-bg-text-selection: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-layer-basement: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-floating: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-neutral-solid-pressed: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-bg-disabled: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-floating-pressed: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-informative-weak-pressed: var(--seed-v3-color-palette-blue-200);
  --seed-v3-color-bg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-bg-warning-weak-pressed: var(--seed-v3-color-palette-yellow-200);
  --seed-v3-color-bg-danger-weak-pressed: var(--seed-v3-color-palette-red-200);
  --seed-v3-color-bg-informative-solid: var(--seed-v3-color-palette-blue-600);
  --seed-v3-color-bg-positive-weak-pressed: var(--seed-v3-color-palette-green-200);
  --seed-v3-color-bg-informative-solid-pressed: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-bg-positive-solid-pressed: var(--seed-v3-color-palette-green-500);
  --seed-v3-color-bg-magic-solid: var(--seed-v3-color-palette-purple-600);
  --seed-v3-color-bg-magic-solid-pressed: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-bg-magic-weak: var(--seed-v3-color-palette-purple-100);
  --seed-v3-color-bg-magic-weak-pressed: var(--seed-v3-color-palette-purple-200);
  --seed-v3-color-bg-neutral-solid-muted: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-bg-floating-solid: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-neutral-solid-muted-pressed: var(--seed-v3-color-palette-gray-500);
  --seed-v3-color-stroke-neutral: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-stroke-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-stroke-field: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-field-focused: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-stroke-control: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-neutral-muted: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-stroke-danger: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-stroke-positive: var(--seed-v3-color-palette-green-600);
}